<ul class="nav nav-pills flex-column" role="tablist" aria-orientation="vertical" style="padding-top:10px;">
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin')}" ng-href="/admin" role="button">Tours</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/trips')}" ng-href="/admin/trips" role="button">Tour Types</a></li>
    <li class="nav-item" uib-dropdown>
        <a class="nav-link" uib-dropdown-toggle href="" role="button">
            Locations
            <span class="caret"></span>
        </a>
        <ul uib-dropdown-menu>
            <li><a class="nav-link" ng-class="{'active': isActive('/admin/locationadmin')}" ng-href="/admin/locationadmin" role="button"><i class="fas fa-building"></i> Cities</a></li>
            <li><a class="nav-link" ng-class="{'active': isActive('/admin/regionsadmin')}" ng-href="/admin/regionsadmin" role="button"><i class="fas fa-map"></i> Regions</a></li>
            <li><a class="nav-link" ng-class="{'active': isActive('/admin/countriesadmin')}" ng-href="/admin/countriesadmin"><i class="fas fa-home"></i> Countries</a></li>
            <li><a class="nav-link" ng-class="{'active': isActive('/admin/continentsadmin')}" ng-href="/admin/continentsadmin"><i class="fas fa-globe"></i> Continents</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/placeadmin')}" ng-href="/admin/placeadmin" role="button">Places</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/hotelsadmin')}" ng-href="/admin/hotelsadmin" role="button">Hotels</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/itineraryadmin')}" ng-href="/admin/itineraryadmin" role="button">Itineraries</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/departuredateadmin')}" ng-href="/admin/departuredateadmin" role="button">Departure Dates</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/tourcostsadmin')}" ng-href="/admin/tourcostsadmin" role="button">Costs</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/tournotesadmin')}" ng-href="/admin/tournotesadmin" role="button">Notes</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/leadsadmin')}" ng-href="/admin/leadsadmin" role="button">Leads</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/usersadmin')}" ng-href="/admin/usersadmin" role="button">Users</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/partnersadmin')}" ng-href="/admin/partnersadmin" role="button">Partners</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{'active': isActive('/admin/imageadmin')}" ng-href="/admin/imageadmin" role="button">Images</a></li>
</ul>