<ul class="nav nav-pills nav-stacked" style="margin-top:10px;">
   <li><a ng-href="/parenttours" class="active">Tour Types</a></li>
   <li><a ng-href="/toursadmin">Tours</a></li>
   <li uib-dropdown>
     <a uib-dropdown-toggle href="">
       Locations
       <span class="caret"></span>
     </a>
     <ul uib-dropdown-menu>
       <li><a ng-href="/locationadmin" role="button"><i class="fas fa-building"></i> Cities</a></li>
       <li><a ng-href="/countriesadmin"><i class="fas fa-home"></i> Countries</a></li>
       <li><a ng-href="/continentsadmin"><i class="fas fa-globe"></i> Continents</a></li>
     </ul>
   </li>
   <li><a ng-href="/placeadmin">Places</a></li>
   <li><a ng-href="/hotelsadmin">Hotels</a></li>
   <li><a ng-href="/itineraryadmin">Itineraries</a></li>
   <li><a ng-href="/departuredateadmin">Departure Dates</a></li>
   <li><a ng-href="/tourcostsadmin">Costs</a></li>
   <li><a ng-href="/tournotesadmin">Notes</a></li>
   <li><a ng-href="/leadsadmin">Leads</a></li>
   <li><a ng-href="/usersadmin">Users</a></li>
   <li><a ng-href="/imageadmin">Images</a></li>
</ul>
