<div id="allPlaces" ng-init="loadPlacesData()">
  <div class="row align-items-center">
    <div class="col-sm-6 col-auto mr-auto">
      <h3 class="align-middle">Places</h3>
    </div>
    <div class="col-sm-6 col-auto">
      <div class="text-right align-middle">
        <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-top:10px; margin-left:10px; margin-right:0px;" ng-click="showForm('new')">New</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" placeholder="Search Places..." ng-model="search">
    </div>
  </div>
  <div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
  <div ng-show="!(loading)">
    <table class="table table-hover table-bordered" ng-show="!(error)">
      <th class="fixedWidthTableCol">Action</th>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Location</th>
      <th>Description</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <tr ng-repeat="x in allPlaces | filter:search">
        <td><a href="" tourid="{{x.tour_id}}" locid="{{x.id}}" ng-click="populatePlaceInstance(x.id)">Edit</a> | <a href="" locid="{{x.id}}" ng-click="delPlace(x.id)">Del</a></td>
        <td>{{ x["id"] }}</td>
        <td>{{ x["name"] }}</td>
        <td>{{ x["type"] }}</td>
        <td>{{ x["locationcity"] }}</td>
        <td style="white-space: pre-wrap;">{{ x["description"] | truncate : 110 : '...' : false }}</td>
        <td>{{ x["createdAt"] | date: "short" }}</td>
        <td>{{ x["updatedAt"] | date: "short" }}</td>
      </tr>
    </table>
  </div>
</div>

<!-- New Modal code using angular-ui -->
<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create/Edit Place</h3>
        </div>
        <form role="form" method="POST" ng-submit="createUpdatePlace();">
          <div class="modal-body" id="modal-body">
          <div class="form-group" >
            <label for="name">Name</label>
            <input type="text" class="form-control input-sm" ng-model="placeData.name" id="name" placeholder="Name">
          </div>
          <div class="form-group">
              <label for="type">Type</label>
              <select class="form-control" id="type" ng-model="placeData.type">
                <option>Amusement Park</option>
                <option>Aquarium</option>
                <option>Archaeological Site</option>
                <option>Architecture</option>
                <option>Area</option>
                <option>Arts Centre</option>
                <option>Arts/Crafts Centre</option>
                <option>Ashram</option>
                <option>Beach</option>
                <option>Bird Sanctuary</option>
                <option>Bridge</option>
                <option>Buddhist Monastery</option>
                <option>Buddhist Monument</option>
                <option>Buddhist Sculpture</option>
                <option>Buddhist Site</option>
                <option>Buddhist Statue</option>
                <option>Buddhist Stupa</option>
                <option>Buddhist Temple</option>
                <option>Cable Car</option>
                <option>Castle</option>
                <option>Cathedral</option>
                <option>Cave</option>
                <option>Cemetery</option>
                <option>Chapel</option>
                <option>Church</option>
                <option>Convent</option>
                <option>Cultural Centre</option>
                <option>Factory</option>
                <option>Farm</option>
                <option>Film Location</option>
                <option>Forest</option>
                <option>Fort</option>
                <option>Fortress</option>
                <option>Fountain</option>
                <option>Gallery</option>
                <option>Gardens</option>
                <option>Gate</option>
                <option>Ghat</option>
                <option>Handicrafts Workshop</option>
                <option>Harbour</option>
                <option>Hill</option>
                <option>Hindu Monument</option>
                <option>Hindu Shrine</option>
                <option>Hindu Site</option>
                <option>Hindu Temple</option>
                <option>Historic Building</option>
                <option>Historic Site</option>
                <option>Hot Springs</option>
                <option>Islamic Palace</option>
                <option>Islamic Shrine</option>
                <option>Islamic Site</option>
                <option>Islamic Tomb</option>
                <option>Island</option>
                <option>Jain Site</option>
                <option>Jain Temple</option>
                <option>Lake</option>
                <option>Landmark</option>
                <option>Library</option>
                <option>Lighthouse</option>
                <option>Market</option>
                <option>Mausoleum</option>
                <option>Meadow</option>
                <option>Memorial</option>
                <option>Monastery</option>
                <option>Monument</option>
                <option>Mosque</option>
                <option>Mountain</option>
                <option>Museum</option>
                <option>National Park</option>
                <option>Nature Reserve</option>
                <option>Notable Building</option>
                <option>Palace</option>
                <option>Park</option>
                <option>Pass</option>
                <option>Picnic Area</option>
                <option>Pier</option>
                <option>Planetarium</option>
                <option>Plantation</option>
                <option>Religious Site</option>
                <option>River</option>
                <option>Rock</option>
                <option>Ruins</option>
                <option>Shrine</option>
                <option>Sikh Site</option>
                <option>Sikh Temple</option>
                <option>Square</option>
                <option>Statue</option>
                <option>Synagogue</option>
                <option>Tea Estate</option>
                <option>Temple</option>
                <option>Tomb</option>
                <option>Tower</option>
                <option>Viewpoint</option>
                <option>Village</option>
                <option>Waterfall</option>
                <option>Waterfront</option>
                <option>Wildlife Reserve</option>
                <option>Winery</option>
                <option>Workshop</option>
                <option>Zoo</option>
              </select>
            </div>
          <div class="form-group">
            <div id="remote">
              <label for="location_id">Location</label>
              <input type="text"  ng-model="placeData.location"
                                  placeholder="Search Locations By City..."
                                  uib-typeahead="location as location.city for location in allLocations | filter: {city:$viewValue}"
                                  typeahead-wait-ms="1000"
                                  typeahead-min-length="3"
                                  typeahead-loading="loadingLocations"
                                  typeahead-no-results="noResults"
                                  typeahead-editable=false
                                  class="form-control"
                                  value="location.city">
              <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control input-sm" ng-model="placeData.latitude" id="latitude" placeholder="Latitude">
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control input-sm" ng-model="placeData.longitude" id="longitude" placeholder="Longitude">
          </div>
          <div class="form-group">
            <label for="elevation">Elevation</label>
            <input type="text" class="form-control input-sm" ng-model="placeData.elevation" id="elevation" placeholder="Elevation">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control input-sm" rows="5" ng-model="placeData.description" id="description" placeholder="Description"></textarea>
          </div>
          <div class="form-group">
            <div  class="btn btn-default"
                  ngf-select
                  ng-model="placeData.images"
                  ngf-multiple="true"
                  accept="image/*"
                  ngf-max-height="2000"
                  ngf-max-size="10MB"
                  ngf-keep="distinct"
                  ngf-capture="camera"
                  ngf-max-files="5">Select Images (max:5)
            </div>
            <br><br>
            <div>
                <label>New Images</label>
                <div class="img-row">
                    <div class="img-column" ng-repeat="f in placeData.images" ng-show="placeData.images && placeData.images.length">
                      <img ngf-thumbnail="f || '/thumb.jpg'" class="thumb scaleMain">
                        {{f.$errorParam}}
                      </img>
                      <a href="" style="display:block;" ng-click="deleteFile($index)">Remove</a>
                    </div>
                </div>
            </div>
            <div>
                <label>Uploaded Images</label>
                <div class="img-row">
                  <div class="img-column" ng-repeat="f in placeData.newImages" ng-show="placeData.newImages && placeData.newImages.length">
                    <img ng-src="/images/{{f.filename}}" class="thumb scaleMain"></img>
                    <a href="" style="display:block;" ng-click="deleteUploadedFile($index)">Remove</a>
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group" role="group" aria-label="footer buttons">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-primary" ng-click="saveNew()">Save As</button>
              <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
          </div>
        </form>
    </script>
    <div class="modal-parent">
    </div>
</div>
<!--Ends----->
