<div id="alltourNotes" ng-init="loadtourNotes()">
  <div class="row align-items-center">
    <div class="col-sm-6 col-auto mr-auto">
      <h3 class="align-middle">Tour Notes</h3>
    </div>
    <div class="col-sm-6 col-auto">
      <div class="text-right align-middle">
        <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-top:10px; margin-left:10px; margin-right:0px;" ng-click="showForm('new')">New</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" placeholder="Search Tour Notes..." ng-model="search">
    </div>
  </div>

  <div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
  <div ng-show="!(loading)">
    <table class="table table-hover table-bordered" ng-show="!(error)">
      <th class="fixedWidthTableCol">Action</th>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <tr ng-repeat="x in allNotes | filter:search">
        <td><a href="" tourid="{{x.tour_id}}" locid="{{x.id}}" ng-click="populateNotesInstance(x.id)">Edit</a> | <a href="" locid="{{x.id}}" ng-click="delNotes(x.id)">Del</a></td>
        <td>{{ x["id"] }}</td>
        <td>{{ x["name"] }}</td>
        <td>{{ x["type"] }}</td>
        <td>
          <div ng-bind-html="x.description | truncate : 110 : '...' : false"></div>
        </td>
        <td>{{ x["createdAt"] | date: "short" }}</td>
        <td>{{ x["updatedAt"] | date: "short" }}</td>
      </tr>
    </table>
  </div>
</div>

<!-- New MOdal code using angular-ui -->
<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create/Edit Tour Note</h3>
        </div>
        <form role="form" method="POST" ng-submit="createUpdatecosts();">
          <div class="modal-body" id="modal-body">
                  <!--
                  <div class="form-group">
                    <div id="remote">
                      <label for="tourid">Tour</label>
                      <input type="text"  ng-model="tourNotes.tour"
                                          placeholder="Search Tours By Name..."
                                          uib-typeahead="tour as tour.name for tour in allTours | filter: {name:$viewValue}"
                                          typeahead-wait-ms="1000"
                                          typeahead-min-length="3"
                                          typeahead-loading="loadingLocations"
                                          typeahead-no-results="noResults"
                                          typeahead-editable=false
                                          class="form-control"
                                          value="tour.name">
                      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                      <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                      </div>
                    </div>
                  </div>
                  -->
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control input-sm" ng-model="tourNotes.name" id="name" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <label for="notetype">Note Type</label>
                    <input type="text" class="form-control input-sm" ng-model="tourNotes.type" id="notetype" placeholder="Note Type">
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <!--
                    <textarea class="form-control input-sm" rows="5" ng-model="tourNotes.description" id="description" placeholder="Notes Description"></textarea>
                    -->
                    <text-angular ng-model="tourNotes.description" id="description"></text-angular>
                  </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group" role="group" aria-label="footer buttons">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-primary">Save As</button>
              <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
          </div>
        </form>
    </script>
    <div class="modal-parent">
    </div>
</div>
<!--Ends----->
