<div id="allTours" ng-init="loadtoursData()">
  <div class="row">
    <div class="col-sm-12 col-auto">
      <div class="pull-left align-middle">
        <h3 class="align-middle">Tours</h3>
      </div>
      <div class="pull-right align-middle">
        <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-top:14px;" ng-click="showForm('new')">New</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" placeholder="Search Tours..." ng-model="search">
    </div>
  </div>
  <div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
  <div ng-show="!(loading)">
    <table class="table table-hover table-bordered" ng-show="!(error)">
      <th class="fixedWidthTableCol">Action</th>
      <th ng-click="sort('id')">Id
        <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('order')">Order
        <span class="glyphicon sort-icon" ng-show="sortKey=='order'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th>Name</th>
      <th>Days</th>
      <th>Nights</th>
      <th>Price</th>
      <th>Tour Type</th>
      <th>Active</th>
      <th>Created Date</th>
      <th>Updated Date</th>

      <tr ng-repeat="x in allTours | orderBy:sortKey:reverse | filter:search">
        <td><a href="" locid="{{x.id}}" ng-click="populatetoursInstance(x.id)">Edit</a> | <a href="" locid="{{x.id}}" ng-click="deltours(x.id)">Del</a></td>
        <td>{{ x["id"] }}</td>
        <td>{{ x["order"] }}</td>
        <td>{{ x["name"] }}</td>
        <td>{{ x["days"] }}</td>
        <td>{{ x["nights"] }}</td>
        <td>{{ x["price"] | currency }}</td>
        <td>{{ x["tourtype"] }}</td>
        <td>{{ x["isactive"] }}</td>
        <td>{{ x["createdAt"] | date: "short" }}</td>
        <td>{{ x["updatedAt"] | date: "short" }}</td>
      </tr>
    </table>
  </div>
</div>

<!-- New MOdal code using angular-ui -->
<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create/Edit Tour</h3>
        </div>
        <form role="form" method="POST" ng-submit="createUpdatetours();">
          <div class="modal-body" id="modal-body">
            <div class="form-group">
              <label for="name">Name</label>
              <input ng-model="tourData.name" type="text" class="form-control input-sm" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea ng-model="tourData.description" class="form-control input-sm" rows="5" id="description" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
              <label for="isactive">Active
                <input ng-model="tourData.isactive" type="checkbox" id="isactive">
              </label>
            </div>
            <div class="form-group">
              <label for="tourtype">Tour Type</label>
              <select class="form-control" id="tourtype" ng-model="tourData.tourtype">
                <option>Regular</option>
                <option>Group</option>
                <option>Individual</option>
              </select>
            </div>
            <div class="form-group">
              <label for="days">Days</label>
              <input ng-model="tourData.days" type="text" class="form-control input-sm" id="days" placeholder="Number of Days">
            </div>
            <div class="form-group">
              <label for="nights">Nights</label>
              <input ng-model="tourData.nights" type="text" class="form-control input-sm" id="nights" placeholder="Number of Nights">
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input ng-model="tourData.price" type="text" class="form-control input-sm" id="price" placeholder="Price">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="form-group">
              <label for="offerprice">Offer Price</label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input ng-model="tourData.offerprice" type="text" class="form-control input-sm" id="offerprice" placeholder="Offer Price">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="form-group">
              <div id="remote">
                  <label for="locationids">Locations</label>
                  <!-- New locations multi select -->
                  <ui-select multiple ng-model="tourData.locations" theme="bootstrap" close-on-select="false"  title="Select Locations...">
                  <ui-select-match placeholder="Select Locations...">{{$item.city}}, {{$item.country}}</ui-select-match>
                  <ui-select-choices repeat="location in allLocation | propsFilter: {city: $select.search}">
                    <div ng-bind-html="location.city | highlight: $select.search"></div>
                    <small>
                      City: {{location.city}},
                      State: {{ location.state }},
                      Country: <span ng-bind-html="''+location.country | highlight: $select.search"></span>
                    </small>
                  </ui-select-choices>
              </ui-select>
              </div>
            </div>

            <div class="form-group">
              <div id="remote">
                  <label for="tourhotels">Hotels</label>
                  <!-- New locations multi select -->
                  <ui-select multiple ng-model="tourData.hotels" theme="bootstrap" close-on-select="false"  title="Select Hotels...">
                    <ui-select-match placeholder="Select Hotels...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="hotel in allHotels | propsFilter: {name: $select.search}">
                      <div ng-bind-html="hotel.name | highlight: $select.search"></div>
                      <small>
                        Name: {{hotel.name}}
                        Type: <span ng-bind-html="''+hotel.type | highlight: $select.search"></span>
                      </small>
                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>
            <div class="form-group">
              <div id="remote">
                  <label for="tourhotels">Notes</label>
                  <!-- New locations multi select -->
                  <ui-select multiple ng-model="tourData.notes" theme="bootstrap" close-on-select="false"  title="Select Notes...">
                  <ui-select-match placeholder="Select Notes...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="note in allNotes | propsFilter: {name: $select.search}">
                    <div ng-bind-html="note.name | highlight: $select.search"></div>
                    <small>
                      Name: {{note.name}}
                      Type: <span ng-bind-html="''+note.type | highlight: $select.search"></span>
                    </small>
                  </ui-select-choices>
              </ui-select>
              </div>
            </div>
            <div class="form-group">
              <div id="remote">
                  <label for="tourtags">Tags</label>
                  <ui-select multiple tagging tagging-label="false" ng-model="tourData.tags" theme="bootstrap" sortable="true" title="Select Tags...">
                    <ui-select-match placeholder="Select Tags...">{{$item.name || $item}}</ui-select-match>
                    <ui-select-choices repeat="tag in allTags | filter:$select.search">
                      <div ng-bind-html="tag.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>
            <div class="form-group">
              <label for="micetour">Show on home page
                <input ng-model="tourData.showonhomepage" type="checkbox" id="showonhomepage">
              </label>
            </div>
            <div class="form-group">
              <label for="micetour">Is this a MICE Tour?
                <input ng-model="tourData.ismicetour" type="checkbox" id="micetour">
              </label>
            </div>
            <div class="form-group">
              <label for="order">Order of Display
                <input ng-model="tourData.order" type="number" class="form-control input-sm" id="order">
              </label>
            </div>
            <div class="form-group">
              <label for="micecategory">MICE Category</label>
              <select class="form-control" id="micecategory" ng-model="tourData.micecategory" ng-disabled="!tourData.ismicetour">
                <option>Meetings</option>
                <option>Incentive Tours</option>
                <option>Business Meetings</option>
                <option>Corporate Meetings</option>
                <option>Thematic Meetings</option>
                <option>Conferences</option>
                <option>Conventions</option>
                <option>Exhibitions and Trade Shows</option>
                <option>Events Management</option>
              </select>
            </div>
            <div class="form-group">
              <div  class="btn btn-default"
                    ngf-select
                    ng-model="tourData.images"
                    ngf-multiple="true"
                    accept="image/*"
                    ngf-max-height="2000"
                    ngf-max-size="10MB"
                    ngf-keep="distinct"
                    ngf-capture="camera"
                    ngf-max-files="5">Select Images (max:5)</div>
              <br><br>
              <div>
                  <label>New Images</label>
                  <div class="img-row">
                      <div class="img-column" ng-repeat="f in tourData.images" ng-show="tourData.images && tourData.images.length">
                        <img ngf-thumbnail="f || '/thumb.jpg'" class="thumb scaleMain">
                          {{f.$errorParam}}
                        </img>
                        <a href="" style="display:block;" ng-click="deleteFile($index)">Remove</a>
                      </div>
                  </div>
              </div>
              <div>
                  <label>Uploaded Images</label>
                  <div class="img-row">
                    <div class="img-column" ng-repeat="f in tourData.newImages" ng-show="tourData.newImages && tourData.newImages.length">
                      <img ng-src="/images/{{f.filename}}" class="thumb scaleMain"></img>
                      <a href="" style="display:block;" ng-click="deleteUploadedFile($index)">Remove</a>
                    </div>
                  </div>
              </div>

              <!-- Modal body ends -->
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group" role="group" aria-label="footer buttons">
              <button type="submit" class="btn btn-primary">Save</button>
              <!-- <button type="button" class="btn btn-primary">Save As</button> -->
              <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
          </div>
        </form>
    </script>
    <div class="modal-parent">
    </div>
</div>
<!--Ends----->
