@import './libs/bootstrap';

.productbox {
  border-radius: 4px;
  background-color:#ffffff;
  //padding:10px;
  margin:5px 0;
  border: 1px solid #cfcfcf;
  -moz-box-shadow: 2px 2px 4px 0px #cfcfcf;
  -webkit-box-shadow: 2px 2px 4px 0px #cfcfcf;
  -o-box-shadow: 2px 2px 4px 0px #cfcfcf;
  box-shadow: 2px 2px 4px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
}

.img-responsive {
  border-radius: 4px;
}

.thumb-post img {
  object-fit: contain !important; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 10px;
  margin-bottom: 0rem;
}

.producttitle {
  font-weight:bold;
  font-size:1.2em;
  padding:5px 0 5px 0;
}

.producttext {

}

.productprice {
border-top:1px solid #dadada;
padding-top:5px;
}

.pricetext {
font-weight:bold;
font-size:1em;
}

#searchForm {
	position:absolute;
  	top:40%;
}

p.main{
  text-align:justify;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #fff;

}
//#616161
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}

::-moz-selection { /* Code for Firefox */
  background: #d4d4d4;
  text-shadow: none;
}

::selection {
  background: #d4d4d4;
  text-shadow: none;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  background-color: rgba(49, 113, 187, 1);


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

}

footer{
      a{
          color: #ffffff;
      }

      a:visited {
        color: #ffffff;
     }

      a:hover{
        color: #ffffff;
      }

      p{
          color: #ffffff;
      }

}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


/* xs < 768 */
 @media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}
/* sm */
 @media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}
/* md */
 @media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}
/* lg */
 @media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
