
  .middle-of-text {
    margin-bottom: -1px;
  }

  a {
    text-decoration: none;
  }

  #repeat {
    display: inline;
  }

  .ml-2, .mx-2 {
    margin-left: 0.1rem !important;
  }

  #country_container {
    width: 1000px;
    margin: 13px 3px 3px 0px;
    text-align: center;
    width: 85px;
    padding: 4px;
    display: inline-table;
    color: white;
    background-color: black;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 13px;
  }

  #country_container:hover {
    box-shadow: 0px 0px 10px black;
    background-color: gray;
    border: 1px solid gray;
    cursor: pointer;
  }

  #names {
    cursor: pointer;
  }

  .nopaddingleft {
    padding-left: 0;
  }

  .nopaddingright {
    padding-right: 0;
  }

  .overflownone {
    overflow: hidden !important;
  }

  .information {
    background: #3171bb;
    position: relative;
    height: 400px;
  }

  .information h3 {
    font-size: 34px;
    font-size: 3.4rem;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    color: #FFF;
    padding: 0 15px;
  }

  .information .information_menu {
    padding: 0;
  }

  .information .information_menu li {
    list-style: none;
    position: relative;
  }

  .information .information_menu li.active {
    background: #0383c5;
  }

  .information .information_menu li.active:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 22px solid #0383c5;
    position: absolute;
    right: -22px;
    //z-index: 1000;
    top: 0;
  }

  .information .information_menu li a {
    color: #FFF;
    display: block;
    padding: 16px 20px;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .information .btn-emergency {
    background: #f89406;
    border: none;
    margin: 20px;
    display: block;
    width: 88%;
    color: #fff;
    text-shadow: none;
    padding: 0;
    font-size: 20px;
    font-size: 2rem;
  }

  .information .btn-emergency span {
    padding: 15px;
    display: block;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, .15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.75, rgba(255, 255, 255, .15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear, 135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent;
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
  }

  .mobile-menu-bg {
    background: #2a3d46;
  }

  .information_menu_mobile {
    margin: 0px;
    padding: 0;
  }

  .information_menu_mobile li {
    padding: 0;
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
  }

  .information_menu_mobile li a {
    display: block;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
  }

  .information_menu_mobile li:hover a {
    background: #0383c5;
    text-decoration: none;
  }

  .slideshow {
    overflow: hidden;
  }

  .slideshow .overlay-item {
    position: absolute;
    top: 0;
    //z-index: 999;
    width: 100%;
    //background: rgba(248, 148, 6, 0.67);
    height: 400px;
    padding: 0px;
    padding-right: 15px;
    display: none;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .slideshow .overlay-item.active {
    display: block;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .slideshow .overlay-item.inactive {
    display: block;
    -webkit-animation: closedoor 0.75s ease 0s alternate;
    transform-style: preserve-3d;
    opacity: 0;
  }

  .slideshow .overlay-item .quickmenu {
    padding: 0;
  }

  .slideshow .overlay-item .quickmenu li {
    list-style: none;
  }

  .slideshow .overlay-item .quickmenu li a {
    color: #FFF;
    display: block;
    padding: 8px 20px;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
  }

  #slider {
    padding: 0px;
    margin: 0px
  }

  #slider li {
    padding: 0px;
    list-style: none;
    position: absolute;
  }

  #carousel-example-generic {
    height: 400px;
  }

  .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }

  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-control {
    z-index: 2;
  }

  html,
  body,
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 100%;
  }

  @-webkit-keyframes opendoor {
    from {
      -webkit-transform: perspective(1000px) rotateY(90deg);
      -webkit-transform-origin: 0% 50%;
    }

    to {
      -webkit-transform: perspective(1000px) rotateY(0deg);
      -webkit-transform-origin: 0% 50%;
    }
  }

.verticalalignsvg svg {
  height: 100%;
}

.fixedWidthTableCol{
    width:5.5em;
}

.form-group {
    margin-bottom: 10px;
}

@supports (position: sticky) {
  div.sticky {
    position: sticky;
    top: 0;
    z-index:100;
  }

  /* other clamped element style changes go here... */
}

.productbox {
  border-radius: 4px;
  background-color:#ffffff;
  //padding:10px;
  margin:5px 0;
  border: 1px solid #cfcfcf;
  -moz-box-shadow: 2px 2px 4px 0px #cfcfcf;
  -webkit-box-shadow: 2px 2px 4px 0px #cfcfcf;
  -o-box-shadow: 2px 2px 4px 0px #cfcfcf;
  box-shadow: 2px 2px 4px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
}

.img-responsive {
  border-radius: 4px;
}

.thumb-post img {
  object-fit: contain !important; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 10px;
  margin-bottom: 0rem;
}

.producttitle {
  font-weight:bold;
  font-size:1.8rem;
  padding:5px 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tourlocations {
  //font-weight:bold;
  font-size:0.8rem;
  padding:5px 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.tourinfo {
  font-weight:bold;
  font-size:1.2rem;
  padding:5px 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productprice {
border-top:1px solid #dadada;
padding-top:5px;
}

.pricetext {
font-weight:bold;
font-size:1em;
}

#searchForm {
	position:absolute;
  	top:40%;
}

p.main{
  text-align:justify;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  //padding-top: 65px;
}

::-moz-selection { /* Code for Firefox */
  background: #d4d4d4;
  text-shadow: none;
}

::selection {
  background: #d4d4d4;
  text-shadow: none;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  background-color: rgba(49, 113, 187, 1);


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

}

footer{
      a{
          color: #ffffff;
      }

      a:visited {
        color: #ffffff;
     }

      a:hover{
        color: #ffffff;
      }

      p{
          color: #ffffff;
      }

}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


/* xs < 768 */
 @media screen and (max-width: 767px) {
    .container {
      padding:0;
      margin:0px;
    }

    body {
      //padding:65px;
    }

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}
/* sm */
 @media screen and (min-width: 768px) {
    //body {
        //font-size: 1em;
    //}

    /*
    .modal-dialog {
      width: 70%;
    }
    */
}
/* md */
 @media screen and (min-width: 992px) {
    //body {
        //font-size: 1.2em;
    //}

    /*
    .modal-dialog {
      width: 70%;
    }
    */
}
/* lg */
 @media screen and (min-width: 1200px) {
    //body {
        //font-size: 1.3em;
    //}

    /*
    .modal-dialog {
      width: 70%;
    }
    */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  /*.modal-dialog {
    width: 70%;
  }
  */
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  //.container {
    //max-width: 730px;
  //}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  /*.modal-dialog {
    width: 70%;
  }
  */
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.img-column {
  float: left;
  width: 8%;
  padding: 5px;
}

/* Clear floats after image containers */
.img-row::after {
  content: "";
  clear: both;
  display: table;
}

.img-row{
  margin-left: -5px;
  margin-right: -5px;
}

.scaleMain{
  object-fit: scale-down;
  object-position: center;
  width:75px;
  height:50px;
}

.scaleTourThumbs{
  object-fit: scale-down;
  object-position: center;
}

.scaleDestinationImg{
  object-fit: cover;
  object-position: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}

.scaleSubHeader{
  object-fit: cover;
  object-position: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.notLoading{
  display:none;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.loader {
  display:block;
  margin: 60px auto;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 1em solid rgba(49,112,187, 0.2);
  border-right: 1em solid rgba(49,112,187, 0.2);
  border-bottom: 1em solid rgba(49,112,187, 0.2);
  border-left: 1em solid #007bff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1s infinite linear;
  animation: load8 1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.presentation {
  text-align: center;
}

.presentation .btn-icon {
  font-size: 1.5em;
  margin: 0 0.5em;
}

.btn-icon {
  padding: 0;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0;
}

.btn-icon:active,
.btn-icon:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

.btn-icon:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.btn-icon:focus {
  outline: 0 none !important;
}

.btn-icon .glyphicon {
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
.btn-icon .glyphicon-heart {
  color: #666;
}
.btn-icon .glyphicon-heart:hover {
  color: rgba(102, 102, 102, 0.85);
}
.btn-icon .glyphicon-heart.active {
  color: #d40027;
}
.btn-icon .glyphicon-heart.active:hover {
  color: rgba(254, 67, 101, 0.85);
}
.btn-icon .glyphicon-bookmark {
  color: #666;
}
.btn-icon .glyphicon-bookmark:hover {
  color: rgba(102, 102, 102, 0.9);
}
.btn-icon .glyphicon-bookmark.active {
  color: #d40027;
}
.btn-icon .glyphicon-bookmark.active:hover {
  color: rgba(166, 212, 120, 0.9);
}

p.main{
  text-align:justify;
}

.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}

.panel-heading a.collapsed:after {
  content:"\e080";
}

.scaleTourView{
object-fit: cover;
object-position: center;
}

.tourPageCols {
margin: 0px;
padding: 0px;
}

.tourSubHeaderCol {
background-color: #3171bb;
border-radius: 3px;
}

.block {
display: block;
width: 100%;
border: none;
background-color: #4CAF50;
color: white;
//padding: 14px 28px;
//font-size: 16px;
cursor: pointer;
//text-align: center;
}

.block:hover {
background-color: #ddd;
color: black;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #3171bb;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  //z-index: 400;
}
ul.timeline > li {
  margin: 20px 15px;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #3171bb;
  left: 20px;
  width: 20px;
  height: 20px;
  //z-index: 400;
}

.card-img-top {
  height: 200px;
}

.card-img-top-tour-destinations {
  height: 100px;
}

.testStyle2 {
  font-style: bold;
}
