@import './libs/bootstrap';

.verticalalignsvg svg {
  height: 100%;
}

.fixedWidthTableCol{
    width:5.5em;
}

.productbox {
  border-radius: 4px;
  background-color:#ffffff;
  //padding:10px;
  margin:5px 0;
  border: 1px solid #cfcfcf;
  -moz-box-shadow: 2px 2px 4px 0px #cfcfcf;
  -webkit-box-shadow: 2px 2px 4px 0px #cfcfcf;
  -o-box-shadow: 2px 2px 4px 0px #cfcfcf;
  box-shadow: 2px 2px 4px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
}

.img-responsive {
  border-radius: 4px;
}

.thumb-post img {
  object-fit: contain !important; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 10px;
  margin-bottom: 0rem;
}

.producttitle {
  font-weight:bold;
  font-size:1.2em;
  padding:5px 0 5px 0;
}

.producttext {

}

.productprice {
border-top:1px solid #dadada;
padding-top:5px;
}

.pricetext {
font-weight:bold;
font-size:1em;
}

#searchForm {
	position:absolute;
  	top:40%;
}

p.main{
  text-align:justify;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #fff;

}
//#616161
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}

::-moz-selection { /* Code for Firefox */
  background: #d4d4d4;
  text-shadow: none;
}

::selection {
  background: #d4d4d4;
  text-shadow: none;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  background-color: rgba(49, 113, 187, 1);


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

}

footer{
      a{
          color: #ffffff;
      }

      a:visited {
        color: #ffffff;
     }

      a:hover{
        color: #ffffff;
      }

      p{
          color: #ffffff;
      }

}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


/* xs < 768 */
 @media screen and (max-width: 767px) {
    .container {
      padding:0;
      margin:0px;
    }

    body {
      padding:0;
    }

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}
/* sm */
 @media screen and (min-width: 768px) {
    body {
        //font-size: 1em;
    }

    /*
    .modal-dialog {
      width: 70%;
    }
    */
}
/* md */
 @media screen and (min-width: 992px) {
    body {
        //font-size: 1.2em;
    }

    /*
    .modal-dialog {
      width: 70%;
    }
    */
}
/* lg */
 @media screen and (min-width: 1200px) {
    body {
        //font-size: 1.3em;
    }

    /*
    .modal-dialog {
      width: 70%;
    }
    */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  /*.modal-dialog {
    width: 70%;
  }
  */
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  /*.modal-dialog {
    width: 70%;
  }
  */
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.img-column {
  float: left;
  width: 8%;
  padding: 5px;
}

/* Clear floats after image containers */
.img-row::after {
  content: "";
  clear: both;
  display: table;
}

.img-row{
  margin-left: -5px;
  margin-right: -5px;
}

.scaleMain{
  object-fit: scale-down;
  object-position: center;
  width:75px;
  height:50px;
}

.scaleTourThumbs{
  object-fit: scale-down;
  object-position: center;
}

.scaleDestinationImg{
  object-fit: cover;
  object-position: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}

.scaleSubHeader{
  object-fit: cover;
  object-position: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.notLoading{
  display:none;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  display:block;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(49,112,187, 0.2);
  border-right: 1.1em solid rgba(49,112,187, 0.2);
  border-bottom: 1.1em solid rgba(49,112,187, 0.2);
  border-left: 1.1em solid #3170bb;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.5s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
