<style>
    .error-template {
        padding: 40px 15px;
        text-align: center;
    }

    .error-actions {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .error-actions .btn {
        margin-right: 10px;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="error-template">
            <!-- <img src="../images/space-404.jpg" /> -->

            <h1>
                Oops!</h1>
            <h2>
                Page not found</h2>
            <div class="error-details">
                We apologize, but we cannot find the page you’re looking for.
                <br />Please start your search from Indiortour's homepage.
            </div>

        </div>
    </div>
</div>