<div class="container" translate-namespace="INDIOR"> 
<div class="row" style="margin:0px;
                        font-family: 'Open Sans', sans-serif;
                        font-size:11px;">
  <div class="col-md-3 col-sm-6 col-lg-3 pull-left" style="padding-top: 10px;">
    <ul class="footer-links" style="list-style-type:none;">
      <li><a ng-href="/about"><translate>.FOOTER.ABOUT_US</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.INDIOR_TOURS_EXCLUSIVE</translate> </a></li>
      <li><a href="#"> <translate>.FOOTER.DATING_HONEYMOONS</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.TRAVEL_IN_LUXURY</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.EXOTIC_BEACHES_AND_ISLANDS</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.TRAVELLING_WITH_CHILDREN</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.FLY_AND_DRIVE</translate></a></li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 col-lg-3 pull-left" style="padding-top: 10px;">
    <ul class="footer-links" style="list-style-type: none;">
      <li><a href="#"> <translate>.FOOTER.GAY_FRIENDLY</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.CRUISES</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.LUXURY_TRAIN_OF_INDIA</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.HELICOPTER_TOURS</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.ROUND_THE_WORLD</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.INDIAN_URBAN_TOURS</translate></a></li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 col-lg-3 pull-left" style="padding-top: 10px;">
    <ul class="footer-links" style="list-style-type: none;">
      <li><a href="#"> <translate>.FOOTER.MUSIC_TOURS</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.SPORTING_EVENTS</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.SKI_IN_WINTER</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.DEEP_SEA_DIVING</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.TRIBAL_TOURS</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.GOLF_TOURS</translate></a></li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 col-lg-3 pull-left" style="padding-top: 10px;">
    <ul class="footer-links" style="list-style-type: none;">
      <li><a href="#"> <translate>.FOOTER.SHOPPING_TOURS</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.YOGA_AND_MEDITATION</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.INLAND_CRUISE_TOURS</translate></a></li>
      <li><a href="#"> <translate>.FOOTER.EARLY_BIRD_DISCOUNT</translate></a></li>
    </ul>
  </div>
</div>
<div class="row" style="font-family: 'Open Sans', sans-serif;
                        font-size:11px;">
  <div class="col-md-3 hidden-xs">
    <a href="http://tourism.gov.in/" target="_blank">
      <img class="pull-right img-responsive thumb-post" src="images-static/Department-of-Tourism-Government-of-India.png" style="overflow: hidden; width:50px; height:50px;"></img>
    </a>
  </div>
  <div class="text-center col-md-6">
    <span style="text-align:center;"><translate>.FOOTER.COPYRIGHT_LINE1</translate></span><br />
    <span style="text-align:center;"><translate>.FOOTER.COPYRIGHT_LINE2</translate></span><br />
    <span style="text-align:center;"><translate>.FOOTER.COPYRIGHT_LINE3</translate></span>
  </div>
  <div class="col-md-3 hidden-xs">
    <a href="https://www.iato.in/" target="_blank">
      <img class="pull-left img-responsive thumb-post" src="images-static/Indian Association of Tour Operators.jpeg" style="overflow: hidden; width:50px; height:50px;"></img>
    </a>
  </div>
</div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  ! function(A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-123355635-1');
</script>
