<div class="container" translate-namespace="INDIOR">
    <div class="row" style="font-family: 'Open Sans', sans-serif;">
        <div class="col-md-3 col-sm-6 col-lg-3 pull-left" style="padding-top: 10px;">
            <ul class="footer-links" style="list-style-type:none;">
                <li><a ng-href="/about">
                        <translate>.FOOTER.ABOUT_US</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.INDIOR_TOURS_EXCLUSIVE</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.DATING_HONEYMOONS</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.TRAVEL_IN_LUXURY</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.EXOTIC_BEACHES_AND_ISLANDS</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.TRAVELLING_WITH_CHILDREN</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.FLY_AND_DRIVE</translate>
                    </a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 pull-left" style="padding-top: 10px;">
            <ul class="footer-links" style="list-style-type: none;">
                <li><a href="#">
                        <translate>.FOOTER.GAY_FRIENDLY</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.CRUISES</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.LUXURY_TRAIN_OF_INDIA</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.HELICOPTER_TOURS</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.ROUND_THE_WORLD</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.INDIAN_URBAN_TOURS</translate>
                    </a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 pull-left" style="padding-top: 10px;">
            <ul class="footer-links" style="list-style-type: none;">
                <li><a href="#">
                        <translate>.FOOTER.MUSIC_TOURS</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.SPORTING_EVENTS</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.SKI_IN_WINTER</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.DEEP_SEA_DIVING</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.TRIBAL_TOURS</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.GOLF_TOURS</translate>
                    </a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 pull-left" style="padding-top: 10px;">
            <ul class="footer-links" style="list-style-type: none;">
                <li><a href="#">
                        <translate>.FOOTER.SHOPPING_TOURS</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.YOGA_AND_MEDITATION</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.INLAND_CRUISE_TOURS</translate>
                    </a></li>
                <li><a href="#">
                        <translate>.FOOTER.EARLY_BIRD_DISCOUNT</translate>
                    </a></li>
            </ul>
        </div>
    </div>
    <div class="row" style="font-family: 'Open Sans', sans-serif;
                        font-size:11px;">
        <div class="col-md-3 hidden-xs">
            <a href="http://tourism.gov.in/" target="_blank">
                <img class="pull-right img-responsive thumb-post" src="images/Department-of-Tourism-Government-of-India.png" style="overflow: hidden; width:50px; height:50px;"></img>
            </a>
        </div>
        <div class="text-center col-md-6">
            <span style="text-align:center;">
                <translate>.FOOTER.COPYRIGHT_LINE1</translate>
            </span><br />
            <span style="text-align:center;">
                <translate>.FOOTER.COPYRIGHT_LINE2</translate>
            </span><br />
            <span style="text-align:center;">
                <translate>.FOOTER.COPYRIGHT_LINE3</translate>
            </span>
        </div>
        <div class="col-md-3 hidden-xs">
            <a href="https://www.iato.in/" target="_blank">
                <img class="pull-left img-responsive thumb-post" src="images/Indian Association of Tour Operators.jpeg" style="overflow: hidden; width:50px; height:50px;"></img>
            </a>
        </div>
    </div>
</div>

<!--<div class="container">
  <div class="row justify-content-between pb-4 mb-xl-2">
    <div class="col-xl-5 col-lg-6">
      <h3>Join the list</h3>
      <p>Get the latest updates on travel, lifestyle, adventure and more...</p>
      <form name="contentForm" enctype="multipart/form-data" method="post" action="/sys/form/59" role="form" data-toggle="validator" id="join-list-form" novalidate="novalidate">
        <input type="hidden" name="source" value="web">
        <input type="hidden" name="form_template_id" value="">
        <input type="hidden" name="samaccountname" value="">
        <input type="hidden" name="mdm_key" value="">
        <input type="hidden" name="sID" value="4776">
        <input type="hidden" name="timestamp" value="1673124114">
        <input type="hidden" name="location" value="/blog/web-design/how-to-create-a-multi-column-cta-footer-using-bootstrap.stml">


        <label for="email" class="sr-only">Email address</label>
        <div class="d-flex">
          <div class="d-flex flex-column w-75 me-2">
            <input name="formfields[email]" class="form-control required input-lg h-xs-45p" id="email" placeholder="Email address" type="email" value="" required="required" data-error="Please enter a valid email address">
            <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
          <input type="hidden" name="formfields[campaign]" value="Join the List">
          <button class="btn btn-pacific-blue text-white px-3 h-xs-45p" type="submit">Join</button>
        </div>

        <input type="hidden" name="datatable_mdid" value="093f65e080a295f8076b1c5722a46aa2">
      </form>
    </div>
    <div class="col-xl-5 col-lg-6 mt-lg-0 mt-4">
      <h3>Community</h3>
      <p>Connect with Indiorians across the social universe</p>
      <ul class="social-icons list-unstyled d-flex mb-0">
        <li class="mx-2 px-1 ps-lg-0 ms-lg-0"><a aria-label="Solodev Twitter" class="text-vulcan" href="https://twitter.com/solodev" target="_blank"><span class="fab fa-2x fa-twitter"></span></a></li>
        <li class="mx-2 px-1"><a aria-label="Solodev Facebook" class="text-vulcan" href="https://www.facebook.com/Solodev" target="_blank"><span class="fab fa-2x fa-facebook-square"></span></a></li>
        <li class="mx-2 px-1"><a aria-label="Solodev LinkedIn" class="text-vulcan" href="https://www.linkedin.com/company/solodev" target="_blank"><span class="fab fa-2x fa-linkedin-in"></span></a></li>
        <li class="mx-2 px-1"><a aria-label="Solodev Medium" class="text-vulcan" href="https://medium.com/@solodev" target="_blank"><span class="fab fa-2x fa-medium"></span></a></li>
        <li class="mx-2 px-1"><a aria-label="Solodev GitHub" class="text-vulcan" href="https://github.com/solodev" target="_blank"><span class="fab fa-2x fa-github"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="border-top pt-xl-5 pt-4">
    <div class="row justify-content-between">
      <div class="col-xl-5 col-lg-6 pe-6">
        <a href="/" aria-label="Solodev homepage">
          <img alt="Solodev Logo footer" class="w-xs-60p" src="/_/images/main/Solodev-Logo-Icon-Red-Square.svg"></a>

        <p class="pt-3">Indior is one of the best travel companies offers high quality group tours, private journeys and tailor-made holidays to one of the world's most fascinating regions: The Indian Subcontinent covering India, Nepal, Bhutan, Sri Lanka, Tibet and Maldives. We offer to a large selection from Economy Tours to luxury holidays; each one planned by experts. – all in one place.</p>
      </div>
      <div class="col-xl-5 col-lg-6 mt-4 mt-xl-0 d-sm-block d-none">
        <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">
          <div>
            <h4 class="text-uppercase">Platform</h4>
            <ul class="list-unstyled">
              <li class="mt-2"><a class="text-graphite medium" href="/cloud" aria-label="Cloud page">CMS</a></li>
              <li class="mt-2"><a aria-label="Marketplace - Footer" class="text-graphite medium" href="/marketplace">Marketplace</a></li>
            </ul>
          </div>
          <div>
            <h4 class="text-uppercase">Explore</h4>
            <ul class="list-unstyled">
              <li class="mt-2"><a aria-label="Blog - Footer" class="text-graphite medium" href="/blog">Blog</a></li>
              <li class="mt-2"><a aria-label="eBooks - Footer" class="text-graphite medium" href="/explore/ebooks/">eBooks</a></li>
              <li class="mt-2"><a aria-label="Solutions - Footer" class="text-graphite medium" href="/solutions/">Solutions</a></li>
              <li class="mt-2"><a aria-label="Enterprise - Footer" class="text-graphite medium" href="/enterprise">Enterprise</a></li>
              <li class="mt-2"><a aria-label="AWS - Footer" class="text-graphite medium" href="/aws/">AWS</a></li>
              <li class="mt-2"><a aria-label="Comparison Guide - Footer" class="text-graphite medium" href="/comparison-guide">Comparison Guide</a></li>
            </ul>
          </div>
          <div>
            <h4 class="text-uppercase">Company</h4>
            <ul class="list-unstyled">
              <li class="mt-2"><a aria-label="About us - Footer" class="text-graphite medium" href="/company/">About Us</a></li>
              <li class="mt-2"><a aria-label="Careers - Footer" class="text-graphite medium" href="/careers/">Careers</a></li>
              <li class="mt-2"><a aria-label="Media - Footer" class="text-graphite medium" href="/media/">Media</a></li>
              <li class="mt-2"><a aria-label="Solodev Help" class="text-graphite medium" href="https://intercom.help/solodev/en" target="_blank" rel="noopener noreferrer">Help</a></li>
              <li class="mt-2"><a aria-label="Contact us" class="text-graphite medium" href="/contact">Privacy Policy</a></li>
              <li class="mt-2"><a aria-label="Contact us" class="text-graphite medium" href="/contact">Terms</a></li>
              <li class="mt-2"><a aria-label="Contact us" class="text-graphite medium" href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black py-sm-2 py-3">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
        <div class="text-center col-md-6">
          <span style="text-align:center;"><translate>.FOOTER.COPYRIGHT_LINE1</translate></span><br />
          <span style="text-align:center;"><translate>.FOOTER.COPYRIGHT_LINE2</translate></span><br />
          <span style="text-align:center;"><translate>.FOOTER.COPYRIGHT_LINE3</translate></span>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-123355635-1');
    ga('send', 'pageview');
</script>

<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-123355635-1');
</script>
