<div class="container" style="font-family: 'Open Sans', sans-serif;">
  <div class="row" style="margin:0px;">
      <div class="col-md-3 pull-left" style="padding-top: 10px;" >
        <ul class="footer-links" style="list-style-type:none;">
          <li><a ng-href="/about">About Us</a></li>
          <li><a href="#">Indior Exclusive Tours</a></li>
          <li><a href="#" >Dating and Honeymoons</a></li>
          <li><a href="#" >Travel in Luxury</a></li>
          <li><a href="#" >Exotic Beaches and Islands</a></li>
          <li><a href="#" >Travelling with Children</a></li>
          <li><a href="#" >Fly &amp; Drive</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="padding-top: 10px;" >
        <ul class="footer-links" style="list-style-type: none;">
          <li><a href="#" >Gay Friendly</a></li>
          <li><a href="#" >Cruises</a></li>
          <li><a href="#" >Luxury Train of India</a></li>
          <li><a href="#">Helicoptor Tours</a></li>
          <li><a href="#" >Round the World</a></li>
          <li><a href="#" >Indian Urban Tours</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="padding-top: 10px;" >
        <ul class="footer-links" style="list-style-type: none;">
          <li><a href="#" >Music Tours</a></li>
          <li><a href="#" >Sporting Events</a></li>
          <li><a href="#" >Ski in Winter</a></li>
          <li><a href="#" >Deep Sea Diving</a></li>
          <li><a href="#" >Tribal Tours</a></li>
          <li><a href="#" >Golf Tours</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="padding-top: 10px;" >
        <ul class="footer-links" style="list-style-type: none;">
          <li><a href="#">Shopping Tours</a></li>
          <li><a href="#" >Yoga and Meditation</a></li>
          <li><a href="#" >Inland Cruise Tours</a></li>
          <li><a href="#" >Early Bird Discount</a></li>
        </ul>
      </div>
  </div>
  <div class="row">
    <div class="col-md-2">
        <img class="pull-right" src="../images22/Department-of-Tourism-Government-of-India.png" style="overflow: hidden; width:75%;"></img>
    </div>
    <div class="text-center col-md-8" style="color: white;">
      <span style="text-align:center;">Copyright @2017-2018 Indior Tours Pvt. Ltd. All Rights Reserved</span><br/>
      <span style="text-align:center;">Recognized by Ministry of Tourism, Government of India</span><br/>
      <span style="text-align:center;">Website developed and maintained by Indior Tours Pvt Ltd</span>
    </div>
    <div class="col-md-2">
        <img class="pull-left" src="../images22/Indian Association of Tour Operators.jpeg" style="overflow: hidden; width:50%;"></img>
    </div>
  </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
   !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
   (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
   r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
   }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-XXXXX-X');
   ga('send', 'pageview');
</script>
