<div translate-namespace="INDIOR">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark pb-0 pt-0 fixed-top" ng-init="" ng-controller="ApplicationController as vm">
    <div class="container" style="padding-right: 0px;">
      <a class="navbar-brand" href="/" style="margin-right: 0rem;">
        <!-- <img class="pull-left img-responsive thumb-post" src="/images/indior_transperent cropped.ae58292c.png"></img> -->
        <img style="height:4.5em;width:5.1em;" src="/images/indior_transperent cropped.png" alt="IndiorTours" class="scaleSubHeader img-responsive thumb-post">
      </a>
      <div style="color: rgb(255, 255, 255);">
        <h4 translate class="display-2" style="font-size: 15px;">.HEADER.TAGLINE</h4>

        <button ng-click="changeLanguage('es')">Spanish</button>
        <button ng-click="changeLanguage('en')">English</button>

        <!-- <span class="fa"></span> The World is Our Family -->
      </div>
      <button class="navbar-toggler navbar-toggler-right align-self-center my-2" type="button" data-toggle="collapse" data-target=".navbars">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbars flex-column ml-lg-0 ml-3" id="navbarDiv1">
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ vm.loggedInUserName }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
              <a class="dropdown-item" ng-href="/myprofile" ng-show="vm.isLoggedIn">Account</a>
              <a class="dropdown-item" ng-href="/admin" ng-show="vm.isAdminLoggedIn">Admin</a>
              <a class="dropdown-item" ng-href="/signup" ng-show="!vm.isLoggedIn">Sign In</a>
              <a class="dropdown-item active" ng-href="/" ng-show="vm.isLoggedIn" ng-click="logout()">Logout</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <translate>.HEADER.SUPPORT</translate>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
              <a class="dropdown-item active" href="tel:+919311463467">+91 9311-INDIOR</a>
              <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=919311463467">WhatsApp</a>
              <a class="dropdown-item" href="mailto:support@indiortours.com">Email</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ vm.selected }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
              <a class="dropdown-item" ng-click="vm.selectCurrency(currency)" ng-repeat="currency in vm.currencyCodes">{{ currency }}</a>
            </div>
          </li>
          <div class="input-group">
            <input ng-model="vm.key" class="form-control" type="search" id="example-search-input">
            <span class="input-group-append">
              <button class="btn btn-outline-primary border-left-0" type="button" ng-click="vm.goToSearch()">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-sm navbar-light bg-light pt-0 pb-0 fixed-top" style="margin-left: -15px;z-index: 999;margin-top: 100px; opacity: 1; filter:(opacity=50);">
    <div class="container" style="font-weight: bold;">
      <div class="collapse navbar-collapse navbars flex-column ml-lg-0 ml-3" id="navbarDiv2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="/">
            <translate>.MENU.HOME</translate>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="/destinations">
            <translate>.MENU.DESTINATIONS</translate>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="/vacations">
            <translate>.MENU.VACATIONS</translate>
          </a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#">Activities</a>
        </li>-->
      </ul>
      </div>
    </div>
  </nav>
</div>
