<style>
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important; border-radius: 0px !important;}
</style>
<!--<div class="header"> -->
  <nav class="navbar navbar">
      <div style="float: left; width:350px;height: 10rem;">
        <div class="page-header" style="margin-top:auto; border-bottom:none;">
          <div class="logo-img" style="width: 111.5px; height: 94.5px; overflow: hidden;float:left;">
               <a href="/"><img src="../images/indior_transperent cropped.gif"  style="overflow: hidden; width:100%;" /></a>
          </div>
          <div style="color: rgb(255, 255, 255);">
              <h4 class="display-2" style="font-size: 16px;padding-top:30px;font-weight: 100;">The World is Our Family</h4>
              <span class="glyphicon"></span>
          </div>
        </div>
      </div>
      <div style="float:right;" ng-controller="ApplicationController">
          <ul class="nav navbar-nav collapse navbar-collapse">
            <li><a ng-href="/contactus" style="color:#ffffff;">Contact Us</a></li>
            <li><a ng-show="isAdminLoggedIn" ng-href="/toursadmin" style="color:#ffffff;">Admin</a></li>
            <!-- <li><a ng-href="" ng-show="firstname" style="color:#ffffff;">Welcome {{firstname}}!</a></li> -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#ffffff;">My Account
              <span class="caret"></span></a>
              <ul class="dropdown-menu navbar-right">
                <li><a ng-href="/myprofile" role="button"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                <li><a ng-href="/signup"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                <li><a ng-href="/" role="button" ng-click="logout();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
    </div>
</nav>

  <!-- Navigation -->
  <nav class="navbar navbar-default" style="margin-top:0px;margin-bottom:auto;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active hidden-xs"><a href="/" style="font-weight:bold;">Home <span class="sr-only">(current)</span></a></li>
          <li class="hidden-xs"><a href="/destinations" style="font-weight:bold;">Destinations</a></li>
          <li class="hidden-xs"><a href="" style="font-weight:bold;">Types of Trips</a></li>
          <li class="hidden-xs"><a href="" style="font-weight:bold;">M.I.C.E</a></li>
          <li class="hidden-xs"><a href="" style="font-weight:bold;">Special Offers</a></li>
          <li class="hidden-xs"><a href="" style="font-weight:bold;">Hotels</a></li>
          <li class="hidden-md hidden-sm hidden-xs"><a href="" style="font-weight:bold;">Transport</a></li>
          <li class="hidden-md hidden-sm hidden-xs"><a href="" style="font-weight:bold;">Catalogues</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right visible-xs">
          <li><a ng-href="/contactus">Contact Us</a></li>
          <li><a ng-href="/regusers">Registered Users</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account
            <span class="caret"></span></a>
            <ul class="dropdown-menu navbar-right">
              <li><a ng-href="" role="button"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
              <li><a ng-href="/signup"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
              <li><a ng-href="/" role="button"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>


</div>
