<style>
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important; border-radius: 0px !important;}
.navbar-collapse {
      padding-left: 0px;
}
</style>
<!--<div class="header"> -->
  <nav class="navbar navbar">
      <div class="container">
        <div class="row">
      <div style="float: left; width:350px;height:9rem;margin-top: -7px;padding-left: 15px;">
        <div class="page-header" style="margin-top:auto; border-bottom:none;">
          <div class="logo-img" style="width: 111.5px; height: 94.5px; overflow: hidden;float:left;">
               <a href="/"><img src="/images/indior_transperent cropped.ae58292c.png"  style="overflow: hidden; width:100%;" /></a>
          </div>
          <div style="color: rgb(255, 255, 255);">
              <h4 class="display-2" style="font-size: 15px;padding-top:30px;font-weight: 100;">The World is Our Family</h4>
              <span class="glyphicon"></span>
          </div>
        </div>
      </div>
      <div style="float:right;" ng-controller="ApplicationController as vm">
          <ul class="nav navbar-nav collapse navbar-collapse">
            <li><a href="https://api.whatsapp.com/send?phone=919311463467" target="_blank" class="pull-right" style="color:white;"><i class="fab fa-whatsapp" style="font-size:22px"></i></a></li>
            <li><a href="tel:+919868365247" class="phone pull-right" style="color:white;"><i class="fas fa-phone"></i> +91 9868 365 247</a></li>
            <li><a ng-href="/contactus" style="color:#ffffff;">Contact Us</a></li>
            <li><a ng-show="vm.isAdminLoggedIn" ng-href="/toursadmin" style="color:#ffffff;">Admin</a></li>
            <li>
              <ui-select ng-model="vm.selected" theme="bootstrap" search-enabled=false>
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in vm.currencyCodes">
                  <div ng-bind-html="item"></div>
                </ui-select-choices>
              </ui-select>
            </li>
            <!-- <li><a ng-href="" ng-show="firstname" style="color:#ffffff;">Welcome {{firstname}}!</a></li> -->
            <li uib-dropdown>
              <a uib-dropdown-toggle href=""  style="color:#ffffff;">
                My Account
                <span class="caret"></span>
              </a>
              <ul uib-dropdown-menu>
                <li><a ng-href="/myprofile" role="button"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                <li><a ng-href="/signup"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                <li><a ng-href="/" role="button" ng-click="logout();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
    </div>
  </div>
  </div>
</nav>

  <!-- Navigation -->
  <nav class="navbar navbar-default" style="margin-top:0px;margin-bottom:auto;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active hidden-xs"><a href="/" style="font-weight:bold;">Home <span class="sr-only">(current)</span></a></li>
          <li class="hidden-xs"><a href="/destinations" style="font-weight:bold;">Destinations</a></li>
          <li class="hidden-xs"><a href="/trips" style="font-weight:bold;">Types of Trips</a></li>
          <li class="hidden-xs"><a href="/mice" style="font-weight:bold;">M.I.C.E</a></li>
          <!-- <li class="hidden-xs"><a href="" style="font-weight:bold;">Special Offers</a></li> -->
          <li class="hidden-xs"><a href="/hotels" style="font-weight:bold;">Hotels</a></li>
          <!-- <li class="hidden-md hidden-sm hidden-xs"><a href="" style="font-weight:bold;">Transport</a></li> -->
          <!-- <li class="hidden-md hidden-sm hidden-xs"><a href="" style="font-weight:bold;">Catalogues</a></li> -->
          <li class="hidden-md hidden-sm hidden-xs"><a href="" style="font-weight:bold;">Blog</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right visible-xs">
          <li><a ng-href="/contactus">Contact Us</a></li>
          <li><a ng-show="isAdminLoggedIn" ng-href="/toursadmin" style="color:#ffffff;">Admin</a></li>
          <li><a href="/destinations">Destinations</a></li>
          <li><a href="/trips">Types of Trips</a></li>
          <li><a href="/mice">M.I.C.E</a></li>
          <li><a href="/hotels">Hotels</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account
            <span class="caret"></span></a>
            <ul class="dropdown-menu navbar-right">
              <li><a ng-href="" role="button"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
              <li><a ng-href="/signup"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
              <li><a ng-href="/" role="button"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>
