<style>
.scaleMain{
  object-fit: scale-down;
  object-position: center;
  width:75px;
  height:50px;
}
</style>
<div id="allLocations" ng-init="loadLocationData()">
  <div class="row align-items-center">
    <div class="col-sm-6 col-auto mr-auto">
      <h3 class="align-middle">Locations</h3>
    </div>
    <div class="col-sm-6 col-auto">
      <div class="text-right align-middle">
        <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-top:10px; margin-left:10px; margin-right:0px;" ng-click="showForm('new')">New</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" placeholder="Search Locations..." ng-model="search">
    </div>
  </div>
  <table class="table table-hover table-bordered" ng-show="!(error)">
    <th>Action</th>
    <th>Id</th>
    <th>City</th>
    <th>Country</th>
    <th>Continent</th>
    <th>Description</th>

    <tr ng-repeat="x in allLocations | filter:search">
      <td><a href="" tourid="{{x.tour_id}}" locid="{{x.id}}" ng-click="populateLocationInstance(x.id)">Edit</a> | <a href="" locid="{{x.id}}" ng-click="delLocation(x.id)">Del</a></td>
      <td>{{ x["id"] }}</td>
      <td>{{ x["city"] }}</td>
      <td>{{ x["country"] }}</td>
      <td>{{ x["continent"] }}</td>
      <td>{{ x["description"] }}</td>
    </tr>
  </table>
</div>

<!-- New MOdal code using angular-ui -->
<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create/Edit Location</h3>
        </div>
        <form role="form" method="POST" ng-submit="createUpdateLocation();">
          <div class="modal-body" id="modal-body">
                  <div class="form-group" >
                    <label for="city">City</label>
                    <input type="text" class="form-control input-sm" ng-model="locationData.city" id="city" placeholder="City">
                  </div>
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control input-sm" ng-model="locationData.country" id="country" placeholder="Country">
                  </div>
                  <div class="form-group">
                    <label for="continent">Continent</label>
                    <input type="text" class="form-control input-sm" ng-model="locationData.continent" id="continent" placeholder="Continent">
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control input-sm" rows="5" ng-model="locationData.description" id="description" placeholder="Description"></textarea>
                  </div>
                  <div class="form-group">
                    <div  class="btn btn-default"
                          ngf-select
                          ng-model="locationData.images"
                          ngf-multiple="true"
                          accept="image/*"
                          ngf-max-height="2000"
                          ngf-max-size="10MB"
                          ngf-keep="distinct"
                          ngf-capture="camera"
                          ngf-max-files="5">Select Images (max:5)
                    </div>
                    <br><br>
                    <div>
                        <label>New Images</label>
                        <span ng-repeat="f in locationData.images" ng-show="locationData.images && locationData.images.length">
                            <img ngf-thumbnail="f || '/thumb.jpg'" class="thumb scaleMain">
                              {{f.$errorParam}}
                            </img>
                            <a href="" style="display:block;" ng-click="deleteFile($index)">Remove</a>
                        </span>
                    </div>
                    <div>
                        <label>Uploaded Images</label>
                        <span ng-repeat="f in locationData.newImages" ng-show="locationData.newImages && locationData.newImages.length">
                            <img ng-src="/images/{{f.filename}}" class="thumb scaleMain">
                              {{f.$errorParam}}
                            </img>
                            <a href="" style="display:block;" ng-click="deleteUploadedFile($index)">Remove</a>
                        </span>
                    </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group" role="group" aria-label="footer buttons">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-primary" ng-click="saveNew()">Save As</button>
              <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
          </div>
        </form>
    </script>
    <div class="modal-parent">
    </div>
</div>
<!--Ends----->
