<style>
.productbox {
  border-radius: 4px;
  background-color:#ffffff;
  //padding:10px;
  margin:5px 0;
  border: 1px solid #cfcfcf;
  -moz-box-shadow: 2px 2px 4px 0px #cfcfcf;
  -webkit-box-shadow: 2px 2px 4px 0px #cfcfcf;
  -o-box-shadow: 2px 2px 4px 0px #cfcfcf;
  box-shadow: 2px 2px 4px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
}

.img-responsive {
  border-radius: 4px;
}

.producttitle {
  font-weight:bold;
  font-size:1.2em;
  padding:5px 0 5px 0;
}

.producttext {

}

.productprice {
border-top:1px solid #dadada;
padding-top:5px;
}

.pricetext {
font-weight:bold;
font-size:1em;
}

#searchForm {
	position:absolute;
  	top:40%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {


  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    max-height:500px;
    max-width: none;
    width: 100%;
    height: 500px;
    width: 1024px;
  }

  .object-fit {
    object-fit: fill;
  }

  html,
  body {
      height: 100%;
  }

  .carousel,
  .item,
  .active {
      height: 100%;
  }

  .carousel-inner {
      height: 100%;
  }

  /* Background images are set within the HTML using inline CSS, not here */

  .fill {
      width: 100%;
      height: 100%;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

  footer {
      margin: 50px 0;
  }


  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
/*
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to

    -> position:absolute

    and uncomment the code below.
    You also need to uncomment

    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

.side-menu {
  //position: fixed;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
  padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}

.header {
    margin-bottom: 0px;
}

.carouselCol{
  padding-left:0px;
  padding-right:0px;
}

</style>
    <div class="row">
    <div class="col-sm-12 carouselCol">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="imgScale" src="./images/taj-mahal-agra-india-iran-tour.jpg" alt="...">
              <div class="carousel-caption">
                <h3>Image1</h3>
                <p>Image Description 1</p>
              </div>
            </div>
            <div class="item">
              <img class="imgScale"  src="./images/travel-to-india.jpg" alt="...">
              <div class="carousel-caption">
                <h3>Image2</h3>
                <p>Image Description 2</p>
              </div>
            </div>
            <div class="item">
              <img class="imgScale" src="./images/p016tvfy.jpg" alt="...">
              <div class="carousel-caption">
                <h3>Image3</h3>
                <p>Image Description 3</p>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </div>
</div>

  <div class="row">
    <!--
    <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Indior Exclusive Tours</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Dating and Honeymoons</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Travel in Luxury</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      -->
    <div class="container">
    <div class=col-sm-12>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img src="http://lorempixel.com/460/250/" class="img-responsive">
                <div class="producttitle text-center">Taste of India</div>
                <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">Delhi | Sikandra | Agra | Fatehpur Sikri | Amer | Jaipur | Samode</p>
                <p class="text-center">
                  <strong>8 Days | €418</strong>
                </p>
                <div class="productprice">
                    <div class="pull-right">
                        <a href="#" class="btn btn-success btm-sm" role="button">More Info</a>
                    </div>
                    <div class="pricetext">
                        <a href="#" class="btn btn-warning btm-sm" role="button">Book</a>
                    </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
$(function () {
    $('.navbar-toggle').click(function () {
        $('.navbar-nav').toggleClass('slide-in');
        $('.side-body').toggleClass('body-slide-in');
        $('#search').removeClass('in').addClass('collapse').slideUp(200);

        /// uncomment code for absolute positioning tweek see top comment in css
        //$('.absolute-wrapper').toggleClass('slide-in');

    });

   // Remove menu for searching
   $('#search-trigger').click(function () {
        $('.navbar-nav').removeClass('slide-in');
        $('.side-body').removeClass('body-slide-in');

        /// uncomment code for absolute positioning tweek see top comment in css
        //$('.absolute-wrapper').removeClass('slide-in');

    });
});

</script>
