<div class="row">
    <nav translate-namespace="INDIOR" class="navbar navbar-expand-sm navbar-light bg-light pt-0 pb-0 fixed-top" style="margin-left: -15px;z-index: 999;margin-top: 100px; opacity: 1; filter:(opacity=50);">
        <div class="container" style="font-weight: bold;">
            <div class="collapse navbar-collapse navbars flex-column ml-lg-0 ml-3" id="navbarDiv2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="/">
                            <translate>.MENU.HOME</translate>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="/destinations">
                            <translate>.MENU.DESTINATIONS</translate>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="/vacations">
                            <translate>.MENU.VACATIONS</translate>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="/hotels">
                            Accommodations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="/mice">
                            MICE
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>