<div ng-app="clientApp" ng-controller="RegUsersController">
      <div>
        <h1 style="font-size:2em;font-weight: 200;">Indior Tour Users</h1>
        <h2 style="font-size: 15px;font-weight: 200;">Below is the list of all users in Indior Tours App:<h2>
      </div>
      {{error}}
      <div>
        <table class="table table-hover table-bordered" ng-show="!(error)">
          <th>Id</th>
          <th>Email</th>
          <th>User Type</th>

          <tr ng-repeat="x in users">
            <td>{{ x["id"] }}</td>
            <td>{{ x["email"] }}</td>
            <td>{{ x["type"] }}</td>
          </tr>
        </table>
      </div>
</div>
