<style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                403 Forbidden!!</h2>
            <div class="error-details">
              You are trying to navigate to a page which you dont have access to.
              <br/>Please login and try again. Contact us if you need a vendor login.
            </div>
        </div>
    </div>
</div>
