<style>
  .form-group.required .control-label:after {
   content:"*";
   color:red;
  }
</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div ng-app="clientApp" ng-controller="UserProfileController" ng-init="loadUserData();">
        <div>
            <div>
              <h1 style="font-size:2em;font-weight: 200;">{{loggedInUser.firstname | ucfirst}} {{loggedInUser.lastname | ucfirst}}</h1>
            </div>
        </div>

        <div>
              {{loggedInUser.phone}}
              {{loggedInUser.email}}

        </div>
  </div>
