<style>
    p {
        text-align: justify;
    }
</style>
<h1>About Us</h1>
<p>
    Wherever you choose to travel with Indior Tours, you can travel with confidence. The clarity of our brochures and website; the expertise and experience of our Tour Consultants and the knowledge and enthusiasm of our guides and local representatives on the ground, all enable you to be fully informed before you book and carefree when you travel. Here are just some of the benefits of choosing Indior Tours.
    Our regional specialists have all travelled extensively in their regions meaning you can be reassured that your hotels, excursions and journeys have been fully considered by an expert.
</p>

<p>
    Our buying power and long-standing relationships in the travel industry generated over many years by the network of associated Indior Tours companies worldwide enables us to contract flights, hotels and ground services at highly competitive rates.
</P>

<p> ​
    Our regional specialists have all travelled extensively in their regions meaning you can be reassured that your hotels, excursions and journeys have been fully considered by an expert.
</p>

<p>
    Other benefits of travelling with Indior Tours include complimentary travel accessories, free subscription to our in-house magazine and access to sponsored events.
</p>

<p>
    Indior Tours has played a pivotal role in the growth of the M.I.C.E. industry in India. With its vast expertise, experience, team of skilled professionals, and excellent relationships with hospitality leaders across the world, hi-mice.com has assisted industrialists, professional bodies, corporations and autonomous bodies in making their conferences, trade fairs, exhibitions, product launches, symposiums, meetings, conventions, and all related events grand successes.
</p>

<p>
    With innovation and excellence as mantras, an expertise spanning sectors, budget sizes, and industries; a team of skilled professionals who thrive on challenges; own fleet of chauffeur-driven cabs and couches, and excellent relationships with hospitality leaders across the world, hi-mice.com has carved a top position in the ranks of M.I.C.E. management organizations across the world.
</p>

<p>
    Our efforts and excellent services have received commendation from several quarters.
</p>
<div class="clear-fix" </div>
    <h4>M.I.C.E. with Indior Tours offer:</h4>

    <p>
        Brand Moments - The Indior Tours Touch: Extensive knowledge of the destinations and well-established working relationships with leaders of the hospitality and event management industry enables us to plan one-of-a-kind events that enrich each meeting organized by Indior Tours.com with the Indior Tours touch right from the moment of arrival of the delegates to the minute of their departure.
    </p>

    <p>
        Personalized Service - The Indefinable Extra: At Indior Tours.com, we believe in going the extra mile to make your experience more enriching than ever. We go to great lengths to understand your vision for the event and make it a reality with additional extra touches to make it extra special. It is the thoughtful touches, a smattering of surprise elements throughout the holiday, and the excitement and anticipation of what next that makes each event unique and memorable.
    </p>

    <p>
        Excellent On-ground Support:All Indior Tours meetings and conferences benefit from an excellent on-ground support staff. Our own fleet of cars and coaches for transport with perfectly attired professional chauffeurs transfer delegates in a timely manner.
    </p>

    <p>
        Our on-ground staff includes an elite team of professionally trained guides as well as account managers proficient in the local language as well as several other languages.
    </p>

    <p>
        All our guides undergo special trainings in a European tour-leader training institute on subjects such as 'How to deal with problems/Illness', 'Communication', 'Tour leader and his/her duties' etc. Both guides and drivers also undergo professional training in primary and advanced first aid and emergency evacuation procedures.
    </p>

    <p>
        Account managers handle all minute aspects of your meeting right from arranging accommodations and transfers to coming up with creative and innovative themes and ideas to enrich your stay. Minute attention to detail ensures perfection

        <a href="http://www.hi-mice.com/conferences/default.aspx">MICE</a>
    </p>

    <p>
        As well as offering a huge variety of destinations, our holidays range from our excellent-value small escorted group tours to completely flexible tailor-made holidays, luxurious city breaks and art history tours.
        We believe that our holidays should benefit the local people and their environments and we strive to ensure that the local culture and communities form an integral part of our trips. Read more about our Responsible Tourism policy and for a list of charities we support.
        "Our holiday was wonderful! It was everything that we wanted our grandchildren to see and experience with enough spaces for them to catch their breath.
        Read more testimonials...
    </p>