<!--
<head>
  <meta charset="utf-8">
</head>
<body>
  <div id="paymentone"></div>

  <button id="submit-button">Purchase</button>

  <span id="successPayment" style="display:none;">Transaction Succesful</span>
  <span id="errorPayment" style="display:none;">Error Processing Payment: </span>

  <script>
    var submitButton = document.querySelector('#submit-button');
    console.log(submitButton);
    console.log(braintree);
    console.log(braintree.dropin);

    braintree.dropin.create({
      authorization: 'sandbox_8tgy6twv_pj2zmzfr2w2khb8m',
      container: '#paymentone',
    }).then(function (dropinInstance) {
      console.log(dropinInstance);
      submitButton.addEventListener('click', function () {
        console.log('Binding event===>');
        dropinInstance.requestPaymentMethod().then(function (payload) {
          console.log(payload);
          // Send payload.nonce to your server
          payload.amount = 10.00;
          $.post('/api/v1/process', payload, function(data, status){
              console.log('data=======>');
              console.log(data);
              console.log(status);

              if(data.success) {
                    var successMsg = document.querySelector('#successPayment');
                    successMsg.style = '';
              } else {
                    var errorMsg = document.querySelector('#errorPayment');
                    errorMsg.style = '';
                    console.log(errorMsg.innerHTML);
                    errorMsg.innerHTML = errorMsg.innerHTML + data.message;
              }
          });
        })
      });
    }).catch(function (err) {
      // Handle any errors that might've occurred when creating Drop-in
      console.error(err);
    });
  </script>
</body>
-->

<!--
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
<div ng-app="clientApp" ng-controller="CheckoutController" ng-init="getHashFromPayU();">

</div>
-->


<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
</head>

<body>
    <h1>Indior Tours Safe Checkout</h1>
    <div ng-controller="CheckoutController">
        <button type="button" ng-click="submitForm();">Submit</button>
        <div ng-bind-html="ccavenueForm"></div>
    </div>
</body>

</html>