<!--
<head>
  <meta charset="utf-8">
</head>
<body>
  <div id="paymentone"></div>

  <button id="submit-button">Purchase</button>

  <span id="successPayment" style="display:none;">Transaction Succesful</span>
  <span id="errorPayment" style="display:none;">Error Processing Payment: </span>

  <script>
    var submitButton = document.querySelector('#submit-button');
    console.log(submitButton);
    console.log(braintree);
    console.log(braintree.dropin);

    braintree.dropin.create({
      authorization: 'sandbox_8tgy6twv_pj2zmzfr2w2khb8m',
      container: '#paymentone',
    }).then(function (dropinInstance) {
      console.log(dropinInstance);
      submitButton.addEventListener('click', function () {
        console.log('Binding event===>');
        dropinInstance.requestPaymentMethod().then(function (payload) {
          console.log(payload);
          // Send payload.nonce to your server
          payload.amount = 10.00;
          $.post('/api/v1/process', payload, function(data, status){
              console.log('data=======>');
              console.log(data);
              console.log(status);

              if(data.success) {
                    var successMsg = document.querySelector('#successPayment');
                    successMsg.style = '';
              } else {
                    var errorMsg = document.querySelector('#errorPayment');
                    errorMsg.style = '';
                    console.log(errorMsg.innerHTML);
                    errorMsg.innerHTML = errorMsg.innerHTML + data.message;
              }
          });
        })
      });
    }).catch(function (err) {
      // Handle any errors that might've occurred when creating Drop-in
      console.error(err);
    });
  </script>
</body>
-->

<!--
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
<div ng-app="clientApp" ng-controller="CheckoutController" ng-init="getHashFromPayU();">

</div>
-->


<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head >
</head>
  <body>
    <h1>PayUMoney Payment Request Form </h1>
    <div ng-app="clientApp" ng-controller="CheckoutController" ng-init="getHashFromPayU();">
      <form action="https://sandboxsecure.payu.in/_payment" name="payuform" method=POST >
        {{ pd }}
      <input type="hidden" name="key" value="{{ pd.key }}" />
      <input type="hidden" name="hash" value="{{ pd.hash }}" />
      <input type="hidden" name="txnid" value="{{ pd.txnid }}"/>
      <input type="hidden" name="service_provider" value="payu_paisa" size="64" />
      <table>
      <tr>
      <td><b>Mandatory Parameters</b></td>
      </tr>
      <tr>
      <td>Amount: </td>
      <td><input name="amount" ng-model="pd.amount"/></td>
      <td>First Name: </td>
      <td><input name="firstname" id="firstname" ng-model="pd.firstname"/></td>
      </tr>
      <tr>
      <td>Email: </td>
      <td><input name="email" id="email" ng-model="pd.email"/></td>
      <td>Phone: </td>
      <td><input name="phone" ng-model="pd.phone"/></td>
      </tr>
      <tr>
      <td>Product Info: </td>
      <td colspan="3"><textarea name="productinfo" ng-model="pd.productinfo">  </textarea></td>
      </tr>
      <tr>
      <td>Success URI: </td>
      <td colspan="3"><input name="surl"  size="64" ng-model="pd.surl"/></td>
      </tr>
      <tr>
      <td>Failure URI: </td>
      <td colspan="3"><input name="furl"  size="64" ng-model="pd.furl"/></td>
      </tr>
      <td colspan="4"><input type="submit" value="Submit"/></td>
      </tr>
    </tr>
    <tr>
    <td><b>Optional Parameters</b></td>
    </tr>
    <tr>
    <td>Last Name: </td>
    <td><input name="lastname" id="lastname"  /></td>
    <td>Cancel URI: </td>
    <td><input name="curl" value="" /></td>
    </tr>
    <tr>
    <td>Address1: </td>
    <td><input name="address1" /></td>
    <td>Address2: </td>
    <td><input name="address2"  /></td>
    </tr>
    <tr>
    <td>City: </td>
    <td><input name="city"  /></td>
    <td>State: </td>
    <td><input name="state"  /></td>
    </tr>
    <tr>
    <td>Country: </td>
    <td><input name="country"  /></td>
    <td>Zipcode: </td>
    <td><input name="zipcode"  /></td>
    </tr>
    <tr>
    <td>UDF1: </td>
    <td><input name="udf1"  /></td>
    <td>UDF2: </td>
    <td><input name="udf2"  /></td>
    </tr>
    <tr>
    <td>UDF3: </td>
    <td><input name="udf3"   /></td>
    <td>UDF4: </td>
    <td><input name="udf4"  /></td>
    </tr>
    <tr>
    <td>UDF5: </td>
    <td><input name="udf5"  /></td>
    <td>PG: </td>
    <td><input name="pg"  /></td>
    </tr>
      </table>
      </form>
    </div>
  </body>
</html>
