<!--
<head>
  <meta charset="utf-8">
</head>
<body>
  <div id="paymentone"></div>

  <button id="submit-button">Purchase</button>

  <span id="successPayment" style="display:none;">Transaction Succesful</span>
  <span id="errorPayment" style="display:none;">Error Processing Payment: </span>

  <script>
    var submitButton = document.querySelector('#submit-button');
    console.log(submitButton);
    console.log(braintree);
    console.log(braintree.dropin);

    braintree.dropin.create({
      authorization: 'sandbox_8tgy6twv_pj2zmzfr2w2khb8m',
      container: '#paymentone',
    }).then(function (dropinInstance) {
      console.log(dropinInstance);
      submitButton.addEventListener('click', function () {
        console.log('Binding event===>');
        dropinInstance.requestPaymentMethod().then(function (payload) {
          console.log(payload);
          // Send payload.nonce to your server
          payload.amount = 10.00;
          $.post('/api/v1/process', payload, function(data, status){
              console.log('data=======>');
              console.log(data);
              console.log(status);

              if(data.success) {
                    var successMsg = document.querySelector('#successPayment');
                    successMsg.style = '';
              } else {
                    var errorMsg = document.querySelector('#errorPayment');
                    errorMsg.style = '';
                    console.log(errorMsg.innerHTML);
                    errorMsg.innerHTML = errorMsg.innerHTML + data.message;
              }
          });
        })
      });
    }).catch(function (err) {
      // Handle any errors that might've occurred when creating Drop-in
      console.error(err);
    });
  </script>
</body>
-->

<!--
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
<div ng-app="clientApp" ng-controller="CheckoutController" ng-init="getHashFromPayU();">

</div>
-->


<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head >
</head>
  <body>
    <h1>Indior Tours Safe Checkout</h1>
    <div ng-app="clientApp" ng-controller="CheckoutController">
      <form method="POST" name="customerData" action="/api/ccavRequestHandler">
    		<table width="40%" height="100" border='1' align="center">
    			<tr>
    				<td>Parameter Name:</td>
    				<td>Parameter Value:</td>
    			</tr>
    			<tr>
    				<td colspan="2">Compulsory information</td>
    			</tr>
    			<tr>
    				<td>Merchant Id</td>
    				<td><input type="text" name="merchant_id" id="merchant_id" value="187180" /> </td>
    			</tr>
    			<tr>
    				<td>Order Id</td>
    				<td><input type="text" name="order_id" value="" /></td>
    			</tr>
    			<tr>
    				<td>Currency</td>
    				<td><input type="text" name="currency" value="INR" /></td>
    			</tr>
    			<tr>
    				<td>Amount</td>
    				<td><input type="text" name="amount" value="1.00" /></td>
    			</tr>
    			<tr>
    				<td>Redirect URL</td>
    				<td><input type="text" name="redirect_url"
    					value="http://127.0.0.1:9000/api/ccavResponseHandler" />
    				</td>
    			</tr>
    			<tr>
    				<td>Cancel URL</td>
    				<td><input type="text" name="cancel_url"
    					value="http://127.0.0.1:3001/ccavResponseHandler" />
    				</td>
    			</tr>
    			<tr>
    				<td>Language</td>
    				<td><input type="text" name="language" id="language" value="EN" /></td>
    			</tr>
    			<tr>
    				<td colspan="2">Billing information(optional):</td>
    			</tr>
    			<tr>
    				<td>Billing Name</td>
    				<td><input type="text" name="billing_name" value="Peter" /></td>
    			</tr>
    			<tr>
    				<td>Billing Address:</td>
    				<td><input type="text" name="billing_address"
    					value="Santacruz" /></td>
    			</tr>
    			<tr>
    				<td>Billing City:</td>
    				<td><input type="text" name="billing_city" value="Mumbai" /></td>
    			</tr>
    			<tr>
    				<td>Billing State:</td>
    				<td><input type="text" name="billing_state" value="MH" /></td>
    			</tr>
    			<tr>
    				<td>Billing Zip:</td>
    				<td><input type="text" name="billing_zip" value="400054" /></td>
    			</tr>
    			<tr>
    				<td>Billing Country:</td>
    				<td><input type="text" name="billing_country" value="India" />
    				</td>
    			</tr>
    			<tr>
    				<td>Billing Tel:</td>
    				<td><input type="text" name="billing_tel" value="9876543210" />
    				</td>
    			</tr>
    			<tr>
    				<td>Billing Email:</td>
    				<td><input type="text" name="billing_email"
    					value="testing@domain.com" /></td>
    			</tr>
    			<tr>
    				<td colspan="2">Shipping information(optional):</td>
    			</tr>
    			<tr>
    				<td>Shipping Name</td>
    				<td><input type="text" name="delivery_name" value="Sam" />
    				</td>
    			</tr>
    			<tr>
    				<td>Shipping Address:</td>
    				<td><input type="text" name="delivery_address"
    					value="Vile Parle" /></td>
    			</tr>
    			<tr>
    				<td>Shipping City:</td>
    				<td><input type="text" name="delivery_city" value="Mumbai" />
    				</td>
    			</tr>
    			<tr>
    				<td>Shipping State:</td>
    				<td><input type="text" name="delivery_state" value="Maharashtra" />
    				</td>
    			</tr>
    			<tr>
    				<td>Shipping Zip:</td>
    				<td><input type="text" name="delivery_zip" value="400038" /></td>
    			</tr>
    			<tr>
    				<td>Shipping Country:</td>
    				<td><input type="text" name="delivery_country" value="India" />
    				</td>
    			</tr>
    			<tr>
    				<td>Shipping Tel:</td>
    				<td><input type="text" name="delivery_tel" value="0123456789" />
    				</td>
    			</tr>
    			<tr>
    				<td>Merchant Param1</td>
    				<td><input type="text" name="merchant_param1"
    					value="additional Info." /></td>
    			</tr>
    			<tr>
    				<td>Merchant Param2</td>
    				<td><input type="text" name="merchant_param2"
    					value="additional Info." /></td>
    			</tr>
    			<tr>
    				<td>Merchant Param3</td>
    				<td><input type="text" name="merchant_param3"
    					value="additional Info." /></td>
    			</tr>
    			<tr>
    				<td>Merchant Param4</td>
    				<td><input type="text" name="merchant_param4"
    					value="additional Info." /></td>
    			</tr>
    			<tr>
    				<td>Merchant Param5</td>
    				<td><input type="text" name="merchant_param5"
    					value="additional Info." /></td>
    			</tr>
    			<tr>
    				<td>Promo Code:</td>
    				<td><input type="text" name="promo_code" value=""/></td>
    			</tr>
    			<tr>
    				<td>Customer Id:</td>
    				<td><input type="text" name="customer_identifier" value=""/></td>
    			</tr>
    			<tr>
    				<td></td>
    				<td><INPUT TYPE="submit" value="Checkout"></td>
    			</tr>
    		</table>
    	</form>
    </div>
  </body>
</html>
