<div ng-init="verifyForgotPasswordLink()">
  <div ng-show="verificationSuccess" class="alert alert-success" style="margin-top:10px;">
    <strong>Welcome back {{userfirstname}}!</strong>
    <p>To reset your password, enter a new password below and click submit</p>
    <form>
      <input type="password" autocomplete="new-password" style="width:30%;" class="form-control input-sm" id="passwordnew" ng-model="password" placeholder="New password...">
      <p class="btn btn-success btn-sm" style="margin-top:10px;" ng-click="updatePassword()">Submit</p>
    </form>
  </div>

  <div ng-show="passwordchangedsuccess" class="alert alert-success" style="margin-top:10px;">
    <p>Congratulations! your password is succesfully changed. Click here to go to the login page</p>
  </div>

  <div ng-show="linkExpired" class="alert alert-warning" style="margin-top:10px;">
    The activation link is expired, enter your email below to receive a new activation link.
    <div class="clearfix"></div>
      <input type="email" style="width:30%;" class="form-control input-sm" id="email" ng-model="useremail" placeholder="Enter your email...">
      <p class="btn btn-warning btn-sm" style="margin-top:10px;" ng-click="sendNewForgotPassWordLink()">Submit</p>
  </div>
</div>
