<div class="panel panel-default">
  <div class="panel-heading">Customer Details</div>
  <div class="panel-body">
    <div class="col-sm-6">
      <div class="form-group">
          <label for="name">Title</label>
          <select class="form-control input-sm input-sm" name="name" ng-model="vm.formData.customerdetails.title">
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Miss">Dr</option>
          </select>
      </div>
      <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control input-sm input-sm" name="name" ng-model="vm.formData.customerdetails.firstname">
      </div>
      <div class="form-group">
          <label for="name">Agency</label>
          <input type="text" class="form-control input-sm input-sm" name="name" ng-model="vm.formData.customerdetails.agency">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control input-sm input-sm" name="name" ng-model="vm.formData.customerdetails.lastname">
      </div>
      <div class="form-group">
          <label for="name">Phone</label>
          <input type="number" class="form-control input-sm input-sm" name="name" ng-model="vm.formData.customerdetails.phone">
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control input-sm input-sm" name="email" ng-model="vm.formData.customerdetails.email">
      </div>
    </div>
  </div>
</div>

<div class="panel-group panel-default">
  <div ng-repeat="traveller in vm.formData.travellers">
      <div class="panel panel-default" id="traveller-{{$index+1}}">
        <div class="panel-heading">Traveller {{$index+1}}
          <button type="button" class="close" ng-click="vm.deleteTraveller($index);"  data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
        </div>
          <div class="panel-body">
              <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Title</label>
                    <select class="form-control input-sm input-sm" name="name" ng-model="traveller.title">
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Miss">Miss</option>
                      <option value="Miss">Dr</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">First Name</label>
                    <input type="text" class="form-control input-sm" name="name" ng-model="traveller.firstname">
                </div>
                <div class="form-group">
                    <label for="name">Date of Birth</label>
                    <input type="date" class="form-control input-sm" name="name" ng-model="traveller.dateofbirth">
                </div>
                <div class="form-group">
                    <label for="name">Passport Number</label>
                    <input type="text" class="form-control input-sm" name="name" ng-model="traveller.passportnumber">
                </div>
                <div class="form-group">
                    <label for="name">Place of Issue</label>
                    <input type="text" class="form-control input-sm" name="name" ng-model="traveller.placeofissue">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Last Name</label>
                    <input type="text" class="form-control input-sm" name="name" ng-model="traveller.lastname">
                </div>
                <div class="form-group">
                    <label for="name">Last Name</label>
                    <input type="text" class="form-control input-sm" name="name" ng-model="traveller.lastname">
                </div>
                <div class="form-inline" style="margin-bottom: 10px;">
                    <div class="row" style="margin-left:0px !important"><label>Phone</label></div>
                    <div class="row" style="margin-left:0px !important">
                      <div class="col-sm-6" style="padding-left: 0px;padding-right: 0px;">
                        <ui-select id="parenttourids" ng-model="traveller.countryandcode" theme="selectize" close-on-select="true"  title="Country and code...">
                          <ui-select-match placeholder="Country and code...">{{$select.selected.name + ' ' + $select.selected.dial_code}}</ui-select-match>
                          <ui-select-choices repeat="tour in vm.countrycodes | propsFilter: {name: $select.search}">
                            <div ng-bind-html="tour.name + ' ' + tour.dial_code | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>

                      <div class="col-sm-6" style="padding-left: 0px;">
                        <input type="number" class="form-control input-sm" style="width:100%" name="name" ng-model="traveller.phone">

                      </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Date of Issue</label>
                    <input type="date" class="form-control input-sm" name="name" ng-model="traveller.passportissuedate">
                </div>
                <div class="form-group">
                    <label for="name">Date of Expiry</label>
                    <input type="date" class="form-control input-sm" name="name" ng-model="traveller.passportexpirydate">
                </div>
                <!--
                <div class="form-group">
                    <label>Gender</label><br/>
                    <div class="radio-inline">
                        <label class="radio">
                            <input type="radio" name="chickenEgg" value="Male" ng-model="traveller.gender">
                            Male
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label class="radio-inline">
                            <input type="radio" name="chickenEgg" value="Female" ng-model="traveller.gender">
                            Female
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label class="radio-inline">
                            <input type="radio" name="chickenEgg" value="Other" ng-model="traveller.gender">
                            Other
                        </label>
                    </div>
                </div>
              -->
              </div>
        </div>
      </div>
    </div>
</div>
  <span class="btn-group pull-right">
    <button class="btn btn-primary" ng-click="vm.addTraveller();">
      Add Traveller
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </span>
