<style>
body {
  color: #5a5a5a;
}

#searchForm {
	position:absolute;
  	top:40%;
}

.input-group {
    position: relative;
    display: table !important;
    border-collapse: separate;
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

</style>

<div  class="col-sm-12 carouselCol hidden-xs" ng-init="allImagesForBanner()" style="padding-left:0px;padding-right:0px;">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li ng-repeat="img in bannerImages">
            <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{item: true, active: ($index === 0)}"></li>
        </li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div ng-class="{item: true, active: ($index === 0)}" ng-repeat="img in bannerImages">
          <div style="--aspect-ratio:16/9;">
            <img class="imgScale scaleSubHeader" ng-src="/images/{{img.filename}}" alt="...">
            <div>
              <h3>{{img.name}}</h3>
              <p>{{img.description}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" role="button" data-slide="prev" data-target="#carousel-example-generic">
        <span aria-hidden="true" class="verticalalignsvg">
          <i class="fa fa-arrow-circle-left fa-lg"></i>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" role="button" data-slide="next" data-target="#carousel-example-generic">
        <span aria-hidden="true" class="verticalalignsvg">
          <i class="fa fa-arrow-circle-right fa-lg"></i>
        </span>
        <span class="sr-only">Next</span>
      </a>
</div>
</div>
