<style>
body {
  color: #5a5a5a;
}

#searchForm {
	position:absolute;
  	top:40%;
}

.input-group {
    position: relative;
    display: table !important;
    border-collapse: separate;
}

#searchForm span {
    background: rgba(255,255,255,0.4) !important;
}

input {
  background: rgba(255,255,255,0.4) !important;
  border: none;
  position: relative;
  display: block;
  outline: none;
  margin: 0 auto;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

::-webkit-input-placeholder { color: #666;}
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

</style>
<div  class="col-sm-12 carouselCol hidden-xs" ng-init="allImagesForBanner()" style="padding-left:0px;padding-right:0px;margin-top: -10px;">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li ng-repeat="img in bannerImages">
            <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{item: true, active: ($index === 0)}"></li>
        </li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div ng-class="{item: true, active: ($index === 0)}" ng-repeat="img in bannerImages">
          <img style="height:485px;" class="imgScale scaleSubHeader" ng-src="/images/{{img.filename}}" alt="...">
          <div class="carousel-caption text-block"
               style="background: linear-gradient(
                      to left,
                      rgba(0, 0, 0, 0) 0%,
                      rgba(0, 0, 0, 0.3) 10%,
                      rgba(0, 0, 0, 0.3) 90%,
                      rgba(0, 0, 0, 0) 100%
                    );
                    left:10%;
                    right:10%"
            >
            <h3>{{img.name}}</h3>
            <p>{{img.description}}</p>
          </div>
        </div>
      </div>

      <form class="col-sm-12" id="searchForm" ng-submit="goToSearch();">
            <div class="form-group col-sm-4 col-sm-offset-4">
              <div class="input-group input-group-lg center-block">
                <input type="text" class="form-control" placeholder="Search your unforgettable journey..." ng-model="key">
                <span class="input-group-addon"><a href="" ng-click="goToSearch();"><i class="fa fa-search"></i></a></span>
              </div>
            </div>
      </form>

      <!-- Controls -->
      <a class="left carousel-control" role="button" data-slide="prev" data-target="#carousel-example-generic">
        <span aria-hidden="true" class="verticalalignsvg">
          <i class="fa fa-arrow-circle-left fa-lg"></i>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" role="button" data-slide="next" data-target="#carousel-example-generic">
        <span aria-hidden="true" class="verticalalignsvg">
          <i class="fa fa-arrow-circle-right fa-lg"></i>
        </span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>
