<div ng-init="allDestinations()">
  <h3>
    Indior Accommodations
  </h3>
  <p class="main">
    Please select a hotel below to see our suggestions of where to stay based on the perfect hospitality conditions.
  </p>

    <div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
    <div ng-show="!(loading)">
      <div class="row">
          <div class="row d-flex justify-content-between">
            <div class="card-deck mx-auto" ng-repeat="hotel in allHotels">
                <div class="card m-2" style="min-width: 21.5rem; max-width: 21.5rem;">
                  <!-- ng-src="/images/{{tour.images[0].filename}}" -->
                  <img class="card-img-top" ng-src="/images/{{hotel.images[0].filename}}" alt="Card image cap">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card-title text-truncate">
                          <h6 class="pull-left mb-0">
                            <a href="/hotel?id={{hotel.id}}">{{ hotel.name }}</a>
                          </h6>
                          <div>
                            <a style="text-decoration: none;">
                              {{ hotel.location | truncate: 20 : '...' : false }}
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    </div>
                  </div>
                </div>
            </div>
      </div>
    </div>
</div>
