
<div ng-init="allToursWithLocations()">
  <h3>
    Indior Tour Offers you Luxury Tours, Tailor-Made Holiday or Group Tours
  </h3>
  <p class="main">
    One of the best travel companies offers high quality group tours, private journeys and tailor-made holidays to one of the world's most fascinating regions: The Indian Subcontinent covering India, Nepal, Bhutan, Sri Lanka, Tibet and Maldives. We offer to a large selection from Economy Tours to luxury holidays; each one planned by experts.
  </p>

  <div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
    <div ng-show="!(loading)">
      <div class="row">
        <div ng-repeat="tour in allTours">
          <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <div ng-attr-id="myCarousel-{{$index}}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div ng-class="{item: true, active: ($index === 0)}" ng-repeat="img in tour.images">
                        <img style="height:200px;" ng-src="/images/{{img.filename}}" alt="Slide number {{img.filename}}" class="img-responsive thumb-post">
                        <div class="container">
                          <div class="carousel-caption">
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control" ng-href="#myCarousel-{{$index}}" role="button" data-slide="prev"></a>
                    <a class="right carousel-control" ng-href="#myCarousel-{{$index}}" role="button" data-slide="next"></a>
                  </div>
                  <div class="producttitle text-center"><a ng-href="/tourView?id={{tour.id}}&amp;name={{tour.name | slugify}}" ng-click="addToRecentItems(tour.id);">{{tour.name | truncate: 32 : '...' : false }}</a></div>
                  <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">
                    <span>
                      {{ tour.locations | join:' | ' | truncate: 65 : '...' : false  }}
                    </span>
                  </p>
                  <p class="text-center">
                    <strong>{{tour.days}} Days | {{tour.price | currency}} | Offer Price: {{ '100' | currency }}</strong>
                  </p>
                </div>
            </div>
          </div>
      </div>
    </div>

    <h4>
      Your recently viewed items and featured recommendations
    </h4>
    <h5>
      Recently viewed items
    </h5>
    <ui-carousel  slides="recentTours"
                  slides-to-show="4"
                  slides-to-scroll="1"
                  initial-slide="1"
                  autoplay="true"
                  autoplay-speed="2000"
                  dots="false">
        <carousel-item>
          <div class="productbox" style="margin-right:5px;margin-left:5px;">
            <img style="height:170px;width:100%;" ng-src="/images/{{item.images[0].filename}}" alt="{{item.images[0].filename}}" class="img-responsive thumb-post">
            <div class="producttitle text-center"><a ng-href="/tourView?id={{item.id}}&amp;name={{item.name | slugify}}">{{ item.name | truncate: 20 : '...' : false }}</a></div>
          </div>
        </carousel-item>
        <!-- For customize carousel next, previous button -->
        <carousel-prev>
          <!-- placed your previous button here -->
          <a class="left carousel-control verticalalignsvg" ng-href="#myCarousel-{{$index}}" role="button" data-slide="prev">
            <span aria-hidden="true" class="verticalalignsvg">
              <i class="fa fa-arrow-circle-left fa-lg"></i>
            </span>
          <!-- end -->
        </carousel-prev>

        <carousel-next>
          <!-- placed your next button here -->
          <a class="right carousel-control verticalalignsvg" ng-href="#myCarousel-{{$index}}" role="button" data-slide="next">
            <span aria-hidden="true" class="verticalalignsvg">
              <i class="fa fa-arrow-circle-right fa-lg"></i>
            </span>
          <!-- end -->
        </carousel-next>
    </ui-carousel>

</div>
