<div ng-init="allToursWithLocations()">
  <h3>
    Indior Tour Offers you Luxury Tours, Tailor-Made Holiday or Group Tours
  </h3>
  <p class="main">
    One of the best travel companies offers high quality group tours, private journeys and tailor-made holidays to one of the world's most fascinating regions: The Indian Subcontinent covering India, Nepal, Bhutan, Sri Lanka, Tibet and Maldives. We offer to a large selection from Economy Tours to luxury holidays; each one planned by experts.
  </p>

  <div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
    <div ng-show="!(loading)">
      <div class="row">
        <div ng-repeat="tour in allTours">
          <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="productbox">
                <img style="height:200px;" ng-src="/images/{{img.filename}}" alt="Slide number {{img.filename}}" class="img-responsive thumb-post">

                <!--
                <div ng-attr-id="myCarousel-{{$index}}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div ng-class="{item: true, active: ($index === 0)}" ng-repeat="img in tour.images">
                        <img style="height:200px;" ng-src="/images/{{img.filename}}" alt="Slide number {{img.filename}}" class="img-responsive thumb-post">
                        <div class="container">
                          <div class="carousel-caption">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--
                    <a class="left carousel-control" ng-href="#myCarousel-{{$index}}" role="button" data-slide="prev"></a>
                    <a class="right carousel-control" ng-href="#myCarousel-{{$index}}" role="button" data-slide="next"></a>
                    -->
                  <!-- </div> -->

                  <div class="producttitle text-center">
                    <a style="text-decoration: none;" ng-href="/tourView?id={{tour.id}}&amp;name={{tour.name | slugify}}" ng-click="addToRecentItems(tour.id);">
                      {{ tour.name }} <!--  | truncate: 25 : '...' : false }} -->
                    </a>
                  </div>
                  <p class="tourlocations text-center">
                    <span class="tourlocations">
                      {{ tour.locations | join:' | ' }} <!--  | truncate: 50 : '...' : false  }} -->
                    </span>
                  </p>
                  <p class="tourinfo text-center">
                    <strong>{{tour.days}} Days | {{ tour.price }} | Offer Price: {{ tour.offerprice }} </strong>
                  </p>
                  <div class="row" style="margin-left: 5px;margin-right: 0px;margin-top: 0px;margin-bottom: 5px;margin-right: 5px;padding-top: 0px;">
                      <a ng-click="showEnquiryForm(tour.id, tour.name, tour.price, tour.days);" class="btn btn-default pull-left" style="margin-top:12px;">
                          Send Enquiry
                      </a>
                      <a ng-href="/book?id={{tour.id}}&amp;name={{tour.name | slugify}}" class="btn btn-primary pull-right" style="margin-top:12px;">
                          Book Now
                      </a>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>

    <h4>
      Your recently viewed items and featured recommendations
    </h4>
    <h5>
      Recently viewed items
    </h5>
    <ui-carousel  slides="recentTours"
                  slides-to-show="4"
                  slides-to-scroll="1"
                  initial-slide="1"
                  autoplay="true"
                  autoplay-speed="2000"
                  dots="false">
        <carousel-item>
          <div class="productbox" style="margin-right:5px;margin-left:5px;">
            <img style="height:170px;width:100%;" ng-src="/images/{{item.images[0].filename}}" alt="{{item.images[0].filename}}" class="img-responsive thumb-post">
            <div class="producttitle text-center"><a ng-href="/tourView?id={{item.id}}&amp;name={{item.name | slugify}}">{{ item.name | truncate: 20 : '...' : false }}</a></div>
          </div>
        </carousel-item>
        <!-- For customize carousel next, previous button -->
        <carousel-prev>
          <!-- placed your previous button here -->
          <a class="left carousel-control verticalalignsvg" ng-href="#myCarousel-{{$index}}" role="button" data-slide="prev">
            <span aria-hidden="true" class="verticalalignsvg">
              <i class="fa fa-arrow-circle-left fa-lg"></i>
            </span>
          <!-- end -->
        </carousel-prev>

        <carousel-next>
          <!-- placed your next button here -->
          <a class="right carousel-control verticalalignsvg" ng-href="#myCarousel-{{$index}}" role="button" data-slide="next">
            <span aria-hidden="true" class="verticalalignsvg">
              <i class="fa fa-arrow-circle-right fa-lg"></i>
            </span>
          <!-- end -->
        </carousel-next>
    </ui-carousel>

</div>


<!-- Tour Enquiry Modal begins -->
<div class="modal-demo">
  <script type="text/ng-template" id="myModalContent.html">
      <div class="alert alert-success alert-dismissible fade in" ng-show="showSuccessBanner">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Enquiry submitted, thanks!
      </div>
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Tour Enquiry</h3>
          <h5>{{ tourName }} | Starting from {{ tourPrice }} | {{ tourDays }} Days</h5>
      </div>
      <form role="form" method="POST" ng-submit="createEnquiry();">
        <div class="modal-body" id="modal-body">
          <div class="row" style="margin:0px !important;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <select class="form-control input-sm" ng-model="contactusData.title">
                            <option>Mr</option>
                            <option>Miss</option>
                            <option>Ms</option>
                            <option>Mrs</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" ng-model="contactusData.name" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email Address</label>
                        <input type="email"  ng-model="contactusData.email"  class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Email">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone</label>
                        <input type="phone" ng-model="contactusData.phone"  class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Attach Files</label>
                        <div class="form-group">
                          <div  class="btn btn-default"
                                ngf-select
                                ng-model="contactusData.images"
                                ngf-multiple="true"
                                accept="image/*"
                                ngf-max-height="2000"
                                ngf-max-size="10MB"
                                ngf-keep="distinct"
                                ngf-capture="camera"
                                ngf-max-files="5">Select Files (max:5)
                          </div>
                          <p class="help-block">Click on the Attach Files button to attach files related to your query.</p>
                        </div>
                        <div>
                            <span ng-repeat="f in contactusData.images">
                              <img width=20% ngf-thumbnail="f || '/thumb.jpg'" class="thumb">
                              {{f.$errorParam}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Arrival Date</label>
                    <input type="Date" ng-model="contactusData.plannedarrival"  class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Arrival Date">
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="exampleInputEmail1">No. of Days</label>
                    <input type="text"  ng-model="contactusData.numdays"  class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Nunmber of People">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Type of Hotel</label>
                    <select class="form-control input-sm" ng-model="contactusData.preferredhoteltype">
                      <option>Budget</option>
                      <option>Economy</option>
                      <option>Elegant</option>
                      <option>Deluxe</option>
                      <option>Luxury</option>
                    </select>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Message</label>
                    <textarea ng-model="contactusData.message" rows="3" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Message"></textarea>
                </div>
                <div class="clearfix"></div>
              </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="footer buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
          </div>
        </div>
      </form>
  </script>
  <div class="modal-parent"></div>
</div>
