<div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>

<h3>
    {{ name }}
</h3>

<!--img class="img-responsive scaleDestinationImg" style="height:140px;" ng-src="/images/{{ destination.images.data[0].filename }}" -->

<span>
    {{ description }}
</span>

<span>
    <h3>Popular Itineraries in {{ regionDetails.name }} </h3>
</span>

<div ng-init="getRegionDetails()">
    <div ng-show="!(loading)">

        <uib-tabset active="activeJustified" justified="true">
            <!-- Itineraries Start -->
            <uib-tab index="1" heading="Popular Itineraries in {{ regionDetails.name }}" select="tabShown = !tabShown" deselect="tabShown = !tabShown">
                <div class="row d-flex justify-content-between">
                    <div class="card-deck mx-auto" ng-repeat="tour in popularItineraries">
                        <div class="card m-2" style="min-width: 21.5rem; max-width: 21.5rem;">
                            <tour-box tour="tour"></tour-box>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <!-- Itinerary Start -->
            <uib-tab index="0" heading="Destinations">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" heading="Cities" is-open="true">
                        <div class="row d-flex justify-content-between">
                            <div class="card-deck mx-auto" ng-repeat="location in regionDetails.Locations">
                                <div class="card m-2" style="min-width: 21.5rem; max-width: 21.5rem;">
                                    <!-- ng-src="/images/{{tour.images[0].filename}}" -->
                                    <img class="card-img-top" ng-src="/images/{{tour.images[0].filename}}" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card-title text-truncate">
                                                    <h6 class="pull-left mb-0">

                                                        <!--
                                  <a style="text-decoration: none;" ng-href="/city?id={{location.id}}&countryid={{location.country_id}}">
                                    {{ location.city | truncate: 20 : '...' : false }}
                                  </a>
                                -->

                                                        <a href="/city?id={{location.id}}&countryid={{location.country_id}}">{{ location.city }}</a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </uib-tab>
        </uib-tabset>
    </div>
</div>