<style>
  img {
      float: left;
      margin: 2px 10px 10px 2px;
      border-radius: 4px;
  }
</style>
This page is in progress...
<div ng-init="getCountryDetails()">
  <uib-tabset active="activeJustified" justified="true">
      <!-- Itineraries Start -->
      <uib-tab index="1" heading="Itineraries" select="tabShown = !tabShown" deselect="tabShown = !tabShown">

      </uib-tab>

      <!-- Itinerary Start -->
      <uib-tab index="0" heading="Cities">

      </uib-tab>
  </uib-tabset>
</div>
