<div id="results" ng-init="searchTours()">
  <div class="row">
    <div ng-repeat="tour in results">
      <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="productbox">
            <div ng-attr-id="myCarousel-{{$index}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div ng-class="{item: true, active: ($index === 0)}" ng-repeat="img in tour.images">
                    <img style="height:200px;" ng-src="/images/{{img.filename}}" alt="Slide number {{img.filename}}" class="img-responsive thumb-post">
                    <div class="container">
                      <div class="carousel-caption">
                      </div>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" ng-href="#myCarousel-{{$index}}" role="button" data-slide="prev"></a>
                <a class="right carousel-control" ng-href="#myCarousel-{{$index}}" role="button" data-slide="next"></a>
              </div>
              <div class="producttitle text-center"><a ng-href="/tourView?id={{tour.id}}&amp;name={{tour.name | slugify}}" ng-click="addToRecentItems(tour.id);">{{tour.name | truncate: 32 : '...' : false }}</a></div>
              <p class="text-center" style="font-size:0.8em; word-wrap: break-word;">
                <span>
                  {{ tour.locations | join:' | ' | truncate: 65 : '...' : false  }}
                </span>
              </p>
              <p class="text-center">
                <strong>{{tour.days}} Days | {{ tour.price }} | Offer Price: {{ tour.offerprice}} </strong>
              </p>
            </div>
        </div>
      </div>
  </div>
</div>
