<div style="display:none;">
    <div>
        <ul>

            <li>Similar tours and Offers</li>

            <li>show more suggestions before the footer</li>

            <li>Show offer price for each tour</li>

            <li>Carousel should have an option of viewing all images for the tour</li>

            <li>Add how to make a reservation in More Info(should be FAQ's) Section or may be a seperate section for it.</li>

            <li>Show optional items in itinerary: https://www.friendlyplanet.com/vacation-packages/taste-of-china.html</li>

            <li>New Reviews and Ratings for Tours</li>

            <li>To Review: https://www.tourmyindia.
                com/packages-tour-india/rajasthan-tour-packages/rajasthan-tours.html</li>

            <li>Types of Users: Actually there should be four types. 1) Admin 2) Supplier 3) B2B User and 4) B2C user.</li>

            <li>https://www.onthegotours.com/
                India/Captivating-Kerala-7-days</li>
        </ul>

    </div>
</div>