<style>
  p.main{
    text-align:justify;
  }

  .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

.scaleTourView{
  object-fit: cover;
  object-position: center;
}
</style>

<div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
  <div ng-show="!(loading)">
    <!-- main div -->
    <div ng-init="getTourDetailsWithRelatedModels()">
      <!-- Tour Name -->
      <div class="col-sm-12" style="margin-left:0px; padding-left:0px;padding-right:0px;">
          <div class="col-sm-8" style="margin-left:0px; padding-left:0px;">
            <h3 class="pull-left">
              {{tourWithAllRelated[0].name}}
            </h3>
          </div>

          <div class="col-sm-4" style="padding-right:0px;">
            <span class="btn-group pull-right">
              <a ng-click="showEnquiryForm();" class="btn btn-default" style="margin-top:12px;">
                  Send Enquiry
              </a>
              <a ng-href="/book" class="btn btn-primary" style="margin-top:12px;">
                  Book Now
              </a>
            </span>
          </div>
      </div>

      <!-- This is a repeat on all locations -->

        <span ng-repeat="location in tourWithAllRelated[0].siteLocation">
            <span style="color:orange;">
              <a style="color: orange;"href="/destination?id={{ location.id }}&name={{ location.city }}">{{ location.city }}</a> <span ng-hide="$last">|</span>
            </span>
        </span>

      <!-- This is tour description -->
      <p class="main">
        {{tourWithAllRelated[0].description}}
      </p>

      <!-- tabs go here -->
      <uib-tabset active="activeJustified" justified="true">
          <!-- Itinerary Start -->
          <uib-tab index="0" heading="Itinerary">
            <div ng-repeat="itinerary in tourWithAllRelated[0].itinerary">
              <h4>
                {{itinerary.day}}
              </h4>
              <p style="white-space: pre-wrap;">{{itinerary.description}}</p>
            </div>
          </uib-tab>
          <!-- Itinerary End -->

          <!-- Prices Start -->
          <uib-tab index="1" heading="Prices" select="tabShown = !tabShown" deselect="tabShown = !tabShown">

            <table class="table table-bordered" ng-show="!(error)">
                <thead>
                  <th style="text-align:center;color: #ffffff; background-color: #3270bc" colspan="4">TOUR COST ({{ currency }})</th>
                </thead>
                <tbody>
                  <td>
                    <table class="table table-bordered table-responsive">
                      <thead>
                        <tr>
                          <th scope="col">Category</th>
                          <th scope="col" id="stud" scope="col"> Cost Per Person </th>
                          <th scope="col" id="apt" scope="col"> Budget </th>
                          <th scope="col" id="chal" scope="col"> Economy </th>
                          <th scope="col" id="villa" scope="col"> Elegant </th>
                          <th scope="col" id="villa" scope="col"> Deluxe </th>
                          <th scope="col" id="villa" scope="col"> Luxury </th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="(key, value) in tourWithAllRelated[0].tourcost[0].individualcostsjson | groupBy: 'costcategory'">
                        <th scope="rowgroup" rowspan="{{value.length+1}}"> {{ key }} </th>
                        <tr ng-repeat="cost in value">
                            <td colspan="{{cost.costitem == 'Note' ? '6' : '1'}}" ng-show="cost.costitem == 'Note'">
                                  <span style="font-weight:bold;">{{cost.costitem | uppercase}}:</span> <span style="font-style:italic;">{{cost.budget}}</span>

                            </td>
                            <td colspan="{{cost.costitem == 'Note' ? '6' : '1'}}" ng-show="cost.costitem != 'Note'">
                                  {{cost.costitem}}

                            </td>
                            <td scope="row" ng-show="cost.costitem != 'Note'">
                                {{cost.budget}}
                            </td>
                            <td scope="row" ng-show="cost.costitem != 'Note'">
                                {{cost.economy}}
                            </td>
                            <td scope="row" ng-show="cost.costitem != 'Note'">
                                {{cost.elegant}}
                            </td>
                            <td scope="row" ng-show="cost.costitem != 'Note'">
                                {{cost.deluxe}}
                            </td>
                            <td scope="row" ng-show="cost.costitem != 'Note'">
                                {{cost.luxury}}
                            </td>
                        </tr>
                      </tbody>
                    </table>
                    <uib-accordion close-others="false">
                        <div  uib-accordion-group
                              class="panel-default"
                              ng-repeat="x in tourWithAllRelated[0].tourNote | filternotes: 'cost'"
                              heading="{{x.type}}"
                              is-open="$first">
                          <div style="white-space: pre-wrap;" ng-bind-html="x.description"></div>
                        </div>
                    </uib-accordion>
                  </td>
                </tbody>
            </table>


          </uib-tab>
          <!-- Prices End -->

          <!-- Dates Start -->
          <uib-tab index="2" heading="Dates" select="tabShown = !tabShown" deselect="tabShown = !tabShown">
            <table class="table table-hover table-bordered" ng-show="!(error)">
              <thead>
                <th colspan="10" style="text-align:center;color: #ffffff; background-color: #3270bc">DEPARTURE DATES</th>
                <tr>
                  <td style="text-align:center;">
                    <div ng-controller="TourViewController as vm" class="col-lg-1 col-centered" style="width:100%;height:100%;margin: auto;">
                      <h3 style="margin-top:10px;margin-bottom:10px;" class="text-center">{{ vm.calendarTitle }}</h3>
                      <ng-include src="'views/main/calendarControls.html'"></ng-include>
                      <mwl-calendar
                        events="vm.events"
                        view="vm.calendarView"
                        view-date="vm.viewDate"
                        cell-auto-open-disabled="false"
                        view-title="vm.calendarTitle"
                        cell-is-open="vm.cellIsOpen"
                        on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)"
                        on-view-change-click="vm.viewChangeClicked(calendarNextView)"
                        on-event-click="vm.eventClicked(calendarEvent)">
                      </mwl-calendar>
                    </div>
                  </td>
                </tr>
              </thead>
            </table>
          </uib-tab>
          <!-- Dates End -->

          <!-- Hotels Start -->
          <uib-tab index="3" heading="Hotels">
            <table class="table table-hover table-bordered" ng-show="!(error)">
              <thead>
                <th colspan="10" style="text-align:center;color: #ffffff; background-color: #3270bc">Hotels</th>
                <tr>
                  <th class="col-xs-2">City</th>
                  <th class="col-xs-2">Budget</th>
                  <th class="col-xs-2">Economy</th>
                  <th class="col-xs-2">Elegant</th>
                  <th class="col-xs-2">Deluxe</th>
                  <th class="col-xs-2">Luxury</th>
                </tr>
              </thead>
              <tr ng-repeat="x in output">
                <td><a ng-href="/destination?id={{x.location_id}}&amp;name={{x.city | slugify}}">{{ x["city"] }}</a></td>
                <td>
                  <div ng-repeat="budget in x.budget">
                    <a ng-href="/hotel?id={{budget.hotelid}}&amp;name={{budget.name | slugify}}">{{ budget.name }}</a>
                  </div>
                </td>
                <td>
                  <div ng-repeat="economy in x.economy">
                    <a ng-href="/hotel?id={{economy.hotelid}}&amp;name={{economy.name | slugify}}">{{ economy.name }}</a>
                  </div>
                </td>
                <td>
                  <div ng-repeat="elegant in x.elegant">
                    <a ng-href="/hotel?id={{elegant.hotelid}}&amp;name={{elegant.name | slugify}}">{{ elegant.name }}</a>
                  </div>
                </td>
                <td>
                  <div ng-repeat="deluxe in x.deluxe">
                    <a ng-href="/hotel?id={{deluxe.hotelid}}&amp;name={{deluxe.name | slugify}}">{{ deluxe.name }}</a>
                  </div>
                </td>
                <td>
                  <div ng-repeat="luxury in x.luxury">
                    <a ng-href="/hotel?id={{luxury.hotelid}}&amp;name={{luxury.name | slugify}}">{{ luxury.name }}</a>
                  </div>
                </td>
              </tr>
            </table>

            <uib-accordion close-others="false">
                <div  uib-accordion-group
                      class="panel-default"
                      ng-repeat="(key, value) in tourWithAllRelated[0].accomodationHotel | groupBy: 'type'"
                      heading="{{key}}"
                      is-open="$first">

                  <div ng-repeat="hotel in value">
                      <div class="media">
                        <div class="media-left">
                          <img style="height:150px; width:200px;" ng-src="/images/{{hotel.images[0].filename}}" class="img-responsive thumb-post scaleTourView media-object">
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">{{hotel.name}}</h4>
                          <p>{{hotel.description}}</p>
                        </div>
                      </div>
                  </div>
                </div>
            </uib-accordion>

          </uib-tab>
          <!-- Hotels End -->

          <!-- Destinations Start -->
          <uib-tab index="4" heading="Destinations">
            <div ng-repeat="x in tourWithAllRelated[0].siteLocation">
              <h4>
                {{x.city}}, {{x.country}}
              </h4>
              <p style="white-space: pre-wrap;">{{x.description}}</p>
            </div>

          </uib-tab>
          <!-- Destinations End -->

          <!-- More Info Start -->
          <uib-tab index="5" heading="More Info">
            <uib-accordion close-others="false">
                <div  uib-accordion-group
                      class="panel-default"
                      ng-repeat="x in tourWithAllRelated[0].tourNote | filternotes: 'important'"
                      heading="{{x.type}}"
                      is-open="$first">
                  <div style="white-space: pre-wrap;" ng-bind-html="x.description"></div>
                </div>
            </uib-accordion>
          </uib-tab>
          <!-- More Info End -->
      </uib-tabset>
    </div>
</div>

<!-- Tour Enquiry Modal begins -->
<div class="modal-demo">
  <script type="text/ng-template" id="myModalContent.html">
      <div class="alert alert-success alert-dismissible fade in" ng-show="showSuccessBanner">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Enquiry submitted, thanks!
      </div>
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Tour Enquiry</h3>
      </div>
      <form role="form" method="POST" ng-submit="createEnquiry();">
        <div class="modal-body" id="modal-body">
          <div class="row" style="margin:0px !important;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <select class="form-control input-sm" ng-model="contactusData.title">
                            <option>Mr</option>
                            <option>Miss</option>
                            <option>Ms</option>
                            <option>Mrs</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" ng-model="contactusData.name" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email Address</label>
                        <input type="email"  ng-model="contactusData.email"  class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Email">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone</label>
                        <input type="phone" ng-model="contactusData.phone"  class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Attach Files</label>
                        <div class="form-group">
                          <div  class="btn btn-default"
                                ngf-select
                                ng-model="contactusData.images"
                                ngf-multiple="true"
                                accept="image/*"
                                ngf-max-height="2000"
                                ngf-max-size="10MB"
                                ngf-keep="distinct"
                                ngf-capture="camera"
                                ngf-max-files="5">Select Files (max:5)
                          </div>
                          <p class="help-block">Click on the Attach Files button to attach files related to your query.</p>
                        </div>
                        <div>
                            <span ng-repeat="f in contactusData.images">
                              <img width=20% ngf-thumbnail="f || '/thumb.jpg'" class="thumb">
                              {{f.$errorParam}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Arrival Date</label>
                    <input type="Date" ng-model="contactusData.plannedarrival"  class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Arrival Date">
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="exampleInputEmail1">No. of Days</label>
                    <input type="text"  ng-model="contactusData.numdays"  class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Nunmber of People">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Type of Hotel</label>
                    <select class="form-control input-sm" ng-model="contactusData.preferredhoteltype">
                      <option>Budget</option>
                      <option>Economy</option>
                      <option>Elegant</option>
                      <option>Deluxe</option>
                      <option>Luxury</option>
                    </select>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Message</label>
                    <textarea ng-model="contactusData.message" rows="3" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Message"></textarea>
                </div>
                <div class="clearfix"></div>
              </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="footer buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
          </div>
        </div>
      </form>
  </script>
  <div class="modal-parent"></div>
</div>
