<div ng-init="allParentToursWithTours()">
  <h3>
    Indior Trips
  </h3>
  <p class="main">
    Indior Tours offers a wide variety of luxury holiday ideas, from group tours to tailor-made journeys. If you are looking for holiday inspiration you may wish to consider searching by themes such as train journeys or cultural cruises.
  </p>
  <div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
  <div ng-show="!(loading)">
        <uib-accordion close-others="false">
          <div uib-accordion-group class="mt-1" 
                ng-repeat="(tourCategory, tour) in allTours | orderBy: 'category' | groupBy:'category'" 
                heading="{{tourCategory}}" 
                is-open="false">
            <div class="row">
            <div class="card-deck mx-2" ng-repeat="tour in tour">
              <div class="card m-2" style="min-width: 21.5rem; max-width: 21.5rem;">
                <img class="card-img-top" ng-src="/images/{{tour.images[0].filename}}" alt="Card image cap">
                <div class="card-body" style="padding: 0.6rem;">
                    <div class="row">
                      <div class="col-sm-12">
                          <div class="card-title text-truncate" style="margin-bottom: 0px; padding-bottom:0px;">
                            <h6 class="pull-left mb-0">
                                <a class="tourlocations" style="font-size:1rem;text-decoration: none;" ng-href="vacation?id={{tour.id}}&name={{tour.name | slugify}}">
                                {{ tour.name }}
                                </a>
                            </h6>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </uib-accordion>
    </div>
  </div>
</div>