<!--style>
  img {
      float: left;
      margin: 2px 10px 10px 2px;
      border-radius: 4px;
  }
</style-->
<div ng-init="getHotelDetails()">
          <h3>
            Indior Accommodation
          </h3>
          <h4>
            {{ hotel.name }}, {{ hotel.location }}
          </h4>
          <p class="main" style="white-space: pre-wrap;">
              <img class="img-responsive scaleDestinationImg" style="height:140px;" ng-src="/images/{{ hotel.images.data[0].filename }}">
              {{ hotel.description }}
          </p>
          <div class="row">

          </div>
</div>
