<div ng-init="allParentToursWithTours()">
  <h3>
    {{ allTours.name }}
  </h3>
  <p class="main">
    {{ allTours.description }}
  </p>
  <div ng-class="{'loader': loading, 'notLoading': !loading}" id="loadingSpinner">Loading...</div>
    <div ng-show="!(loading)">
      <div class="row">
          <div class="card-deck mx-2" ng-repeat="tour in childTours">
            <div class="card m-2" style="min-width: 21.5rem; max-width: 21.5rem;">
              <tour-box tour="tour"></tour-box>
            </div>
          </div>
      </div>
    </div>
</div>
